.sidebar-inner {padding: 20px;  }
    
.dashboard-header--heading {
  color: #7f8fa4 !important;
}
.nav-tabs {border-bottom: none;}
.nav-tabs li {min-width: 200px;}
.nav-tabs li button {width: 100%;}
.nav-tabs li .nav-link{background-color: #fff; color: #333; border: #ccc;}

.dashboard-main-content-info{ border-top-left-radius:0 !important}

::ng-deep .mat-header-cell{background-color:#E5EEFF ; color: #353535; font-weight: 600 !important; font-size: 15px; font-family: 'PoppinsRegular';}
#msform .action-button {
  
    background: #1b4c43;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 8px;
    margin: 0px 0px 0px 9px;
    float: right;
}

#msform .action-button:disabled {
 
    background: #1b4c43;
    font-weight: bold;
    color: grey;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 8px;
    margin: 1px 0px 0px 9px;
    float: right
}

.mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    width: 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }


.myClass{
    border: solid 0.2px #542555 !important;;
    background-color: #4A1C4B !important;;
    color: white !important;;
  }

