<div class="dashboard-main-content" style="min-height: 600px;">
    <div class="dashboard-main-content__header">
        <h1 class="mb-1">Dropbox </h1>
    </div>
    <nav aria-label="breadcrumb" class="mt-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Dropbox</li>
        </ol>
    </nav>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" (click)="navColor('dropList')" [class.myClass]="showFirstButtonColor"  data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"> Relieved Employee List</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" (click)="navColor('transferout')"  [class.myClass]="showsecondButtonColor" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Search Employee For Import </button>
        </li>
    </ul>
    <div class="dashboard-main-content-info">
        <div class="tab-content" id="myTabContent">
            <div *ngIf="activePaneOne">
                <div class="row  profile-info">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-6 position-relative">
                                <div class="example-header">
                                    <mat-form-field appearance="outline" class=" searchInput me-4">
                                        <input matInput (keyup)="applyFilterSBSource($event.target.value)" placeholder="Search">
                                        <mat-icon matSuffix></mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="d-flex flex-row-reverse bd-highlight mobile-buttons">
                                    <div class="p-1">
                                        <button mat-raised-button class="float-end btn-secondary green" (click)="exportTransferOutDataInpdf()"> <i class="bi bi-file-pdf me-1"></i> Download PDF</button>
                                    </div>
                                    <div class="p-1">
                                        <button mat-raised-button class="float-end btn-primary red" (click)="exportexcelRelieving()"><i class="bi bi-file-earmark-excel me-1"></i> Download Excel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="example-container mat-elevation-z8 table-responsive" >
                            <div class="table-responsive">
                            <mat-table [dataSource]="DropSource" matSort #dropSort="matSort">
                                <ng-container matColumnDef="sno">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.sno}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="teacherName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.teacherName | uppercase }} ({{row.teacherId}})
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="teachingType">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Type</mat-header-cell>
                                    <mat-cell *matCellDef="let row" [style.color]="row.color">{{row.teachingType}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Designation">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
                                    <mat-cell *matCellDef="let row" [style.color]="row.color">{{row.lastPromotionPositionType}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="dropBoxType">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Relieve Type</mat-header-cell>
                                    <mat-cell *matCellDef="let row" [style.color]="row.color">{{row.dropBoxType}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="dropboxDescription">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Relieve Description</mat-header-cell>
                                    <mat-cell *matCellDef="let row" [style.color]="row.color">{{row.dropboxDescription}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                                    <mat-cell *matCellDef="let row" [style.color]="row.color"> <button type="button"  class="btn btn-success btn-sm" (click)="revokeEmployee(row.teacherId)">Revoke</button></mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="dropBoxColumns; sticky:true; "></mat-header-row>
                                <mat-row *matRowDef="let row; columns: dropBoxColumns;">
                                </mat-row>
                            </mat-table>
                            </div>
                            <mat-paginator #dropPaginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------Transfer Out End Here--------------------------------------------------------->

            <!--------------------------Transfer In Start Here-------------------------------------------------->
            <div *ngIf="activePaneTwo"> 
                <div class="row">
                    <div class="col-lg-12">
                            <form [formGroup]="dropSearchForm" (ngSubmit)="submit()">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="">
                                            <div class="prof-fields ser-bdr">
                                                <div class="row">
                                                    <div class="col-md-5 form-group my-2">
                                                        <label class="titleSet mb-2">Employee Code</label>                                     
                                                          <div class="tags">
                                                            <span *ngFor="let tag of tags">{{ tag }}<span class="remove" (click)="removeTag(tag)"> x</span></span>
                                                            <input type="text"  style="min-height: 50px;"[(ngModel)]="tagInput" (keydown)="onKeyDown($event)" class="form-control" formControlName="employeeCode" placeholder="Add employee code separated by commas(,)">
                                                          </div>
                                                    </div>
                                                    <div class="col-md-7 pt-4 search-clear">
                                                        <button type="submit" class="btn btn-success me-1">Search</button>
                                                        <button type="button" class="btn btn-primary" (click)="clear()">Clear</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                    
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6" style="text-align: end;">
                                <div class="example-header">
                                     <span class="me-2">Show Results : <strong>  {{totalLength}}</strong></span>
                                    <mat-form-field appearance="outline" class=" searchInput ">
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="example-container mat-elevation-z8 table-responsive" >
                            <div class="table-responsive">
                                <mat-table [dataSource]="dataSource" matSort #dropSearchSort="matSort">
                                    <ng-container matColumnDef="sno">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.sno}} </mat-cell>
                                    </ng-container>
    
                                    <ng-container matColumnDef="teacherName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.teacherName | uppercase }} ({{row.teacherId}})
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="kvName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Kv Name </mat-header-cell>
                                        <mat-cell *matCellDef="let row"> {{row.kvName | uppercase }} ({{row.kvCode}})
                                        </mat-cell>
                                    </ng-container>
    
                                    <ng-container matColumnDef="teachingType">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Type</mat-header-cell>
                                        <mat-cell *matCellDef="let row" >{{row.teachingType}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="Designation">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
                                    <mat-cell *matCellDef="let row" [style.color]="row.color">{{row.lastPromotionPositionType}} </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="dropBoxType">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Relieve Type</mat-header-cell>
                                        <mat-cell *matCellDef="let row">{{row.dropBoxType}} </mat-cell>
                                    </ng-container>
    
                                    <ng-container matColumnDef="status">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                        <mat-cell *matCellDef="let row"><span  [ngClass]="row.className" >{{row.statusMsg}}</span></mat-cell>
                                    </ng-container>
    
                                    <ng-container matColumnDef="Action">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                                        <mat-cell *matCellDef="let row" [style.color]="row.color"><button type="button" *ngIf="row.dropBoxFlag == '1'" class="btn btn-success btn-sm" (click)="importEmployee(row.teacherId,row.dropBoxType)">Import</button>  </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="searchDropBoxColumns; sticky:true; "></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: searchDropBoxColumns;">
                                    </mat-row>
                                </mat-table>
                                </div>
                                <mat-paginator #paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>                         
                      </div>
                 </div>
                </div>
            </div>
        </div>

    
       
        <!----------------------Transfer Out End Here------------------------------------------------------->
    </div>
</div>