<div class="dashboard-main-content" style="min-height: 600px;">
    <div class="dashboard-main-content__header">
        <h1 class="mb-1">Transfer List (Modify)</h1>
    </div>
    <nav aria-label="breadcrumb" class="mt-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a>Transfer List (Modify)</a></li>
        </ol>
    </nav>
    <div class="dashboard-main-content-info">
        <div class="row">
            <div class="col-lg-12">

        <div class="row">
            <div class="col-md-2 form-group  mb-3">
                <label class="titleSet">Year</label>
                <mat-select    class="form-control" [(ngModel)]="selectYear" >
                    <mat-option value="">Select Year</mat-option>
                    <mat-option  value="2023">2023</mat-option>
                </mat-select>
            </div>

            <div class="col-md-4 form-group  mb-3">
                <label class="titleSet">Transfer List Type</label>
                <mat-select    class="form-control" (selectionChange)="getAllModifyTransferAsTypeList($event.value)" [(ngModel)]="selectTransferType" >
                    <mat-option value="">Select Region Name</mat-option>
                    <mat-option  value="S">Transfer Cycle - 2023</mat-option>
                    <mat-option  value="A">Admin</mat-option>
                </mat-select>
            </div>
            <div class="col-md-6 form-group ">
                <div class="float-end">
                    <div *ngIf="dataSource">
                        <span class="me-2">Show Results : <strong>  {{totalLength}}</strong></span>
                        <mat-form-field  style="width: 350px;" appearance="outline" class=" searchInput ">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                        </mat-form-field>
                    </div>      
                    </div>
                </div>
        </div>
   
        <div class="example-container mat-elevation-z8 " id="style-2">
            <mat-table [dataSource]="dataSource" matSort #hBSort="matSort">
                <ng-container matColumnDef="Sno">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span> {{row.sno}}</mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="employeecode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Code </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"> </span>{{row.employeecode}}
                    </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Employee name (Code)</mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"> </span> {{row.name}} ({{row.employeecode}})
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="kv_code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Present KV (Code) </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span> {{row.presentKvName}} ({{row.presentKvCode}})
                    </mat-cell>
                </ng-container>  

                <ng-container matColumnDef="is_admin_transfer">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Transfer Type </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span> {{row.is_admin_transfer}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="kv_name_alloted">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> KV Name Allotted (Code)</mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span>{{row.kv_name_alloted}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="transfer_under_cat">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Transfer Under Category</mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span> {{row.transferred_under_cat}}
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="join_date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Joining Date </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span> {{row.join_date
                        |date:"dd-MM-yyyy"}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="relieve_date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Relieving Date </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span>{{row.relieve_date
                        |date:"dd-MM-yyyy"}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="allot_stn_code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Allot Station Code</mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span> {{row.allot_stn_code}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span>
                        <span *ngIf="row.transferStatusAction =='transfer' ">
                            <i class="fa fa-exchange" *ngIf="row.transferStatusOneComplite!='true'" title="Edit"
                                (click)="openTransfermodal(row.name,row.employeecode,row.email,row.kv_code,row.teacher_dob,row.presentKvName,row.presentKvCode,row.presentStationName,row.presentRegionName)"
                                style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;" aria-hidden="true"></i>
                        </span>
                        <span *ngIf="row.transferStatusAction =='modificationcancel' ">
                            <i class="fa fa-edit"  title="Edit" (click)="openModificationmodal(row.employeecode,row.name,row.presentKvName,row.presentKvCode,row.presentStationName,row.presentRegionName,row.teacher_dob,row.email,row.allot_kv_code)"style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;"
                                aria-hidden="true"></i>
                            <i class="fa fa-times-circle-o" title="Cancel"
                                 (click)="openCancelmodal(row.name,row.employeecode,row.email,row.presentKvName,row.kv_code,row.teacher_dob,row.allot_kv_code)" style="font-size: 1.8rem; color: #dc1301e3; margin-left: 10px;" aria-hidden="true"></i>
                        </span>

                        <span *ngIf="row.transferStatusAction =='' ">
                            <i class="fa fa-edit" title="Edit"  (click)="openModificationmodal(row.employeecode,row.name,row.presentKvName,row.presentKvCode,row.presentStationName,row.presentRegionName,row.teacher_dob,row.email,row.allot_kv_code)"style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;"
                                aria-hidden="true"></i>
                        </span>  

                        <span>
                            <i class="fa fa-eye" title="View"  (click)="openViewModal(row.teacherId,row.name,row.employeecode,row.email,row.presentKvName,row.kv_code,row.teacher_dob)"  style="font-size: 1.8rem; color: #238cfd; margin-left: 10px;" aria-hidden="true"></i>
                        </span> 
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true; "></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>  
    </div>
 </div>
 <div mat-dialog-content>
    <ng-template #AdminTransferBox let-modal style="min-width: 100%;">
        <div class="modal-header">
            <div class="d-flex justify-content-between w-100">
                <h1 class="mb-0 " >Employee Transfer </h1>
                <i class="fa fa-times" (click)="cancelModal()"
                    style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;" aria-hidden="true"></i>
            </div>
        </div>
        <div class="p-3">
            <div class="table-responsive">
                <table class="table table-bordered text-start">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-start">
                                Employee Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="w-25 text-start"> Employee Name (Code)</th>
                            <td class="text-start"> {{editEmpName}} ({{editEmpCode}})</td>
                            <th class="text-start">Email Id </th>
                            <td class="text-start">{{email | uppercase}} </td>
                        </tr>
                        <tr>
                            <th class="text-start">DOB (dd-mm-yyyy) </th>
                            <td class="text-start"> {{dob|date:"dd-MM-yyyy"}}</td>
                            <th class="text-start">Present Region Name </th>
                            <td class="text-start"> {{PresentRegionName}} </td> 
                        </tr>
                        <tr>
                            <th class="text-start">Present Station Name</th>
                            <td class="text-start"> {{PresentStationName}}</td>
                            <th class="text-start">Present School Name (Code) </th>
                            <td class="text-start"> {{presentKvName}} ({{presentKvCode}})</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered text-start">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-start">
                                Employee Transfer Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>                            
                        <tr>
                            <th class="text-start w-50">Transfer To Region/School/ZIET/HQ </th>
                            <td class="text-start"  style="background: #f5f5dc91; "><b>{{kvRegionSchoolZietHqName}} </b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pb-2 mt-2  row  m-0">
                <label for="staticEmail" class="col-sm-6 col-form-label ps-0">Select Institute Type</label>
                <div class="col-sm-6">
                    <select class="form-select"   (change)="selectInstituteType($event)"  aria-label="Default select example" id="institute_id">
                        <option selected disabled>Select </option>
                        <option  value="3"> REGION</option>
                        <option  value="1"> SCHOOL</option>
                        <option  value="2"> ZIET</option>
                        <option  value="4"> HQ</option>
                    </select>
                </div>
            </div>
        <div class="card pt-3 mt-3" *ngIf="showTransferEditForm">
            <form [formGroup]="adminTransferEditForm" (ngSubmit)="submitForm()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="px-3">
                            <div class="row">
                                <div class="col-md-4 mb-2" *ngIf="showRegion || showSchool ">
                                    <label class="mb-1"> Select Region<span class="required-asterisk">*</span></label>
                                    <select class="form-select form-select-sm" formControlName="transferRegion"
                                        aria-label="Default select example"
                                        (change)="getStationByHqId($event);getStationByRegionId($event)">
                                        <option selected disabled> Select Region</option>
                                        <option *ngFor="let data of selectRegionList" 
                                            value="{{data.region_code}}">
                                            {{data.region_name}}
                                       </option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-2" *ngIf="showSchool">
                                    <label class="mb-1"> Select Station<span class="required-asterisk">*</span></label>
                                    <select class="form-select form-select-sm" formControlName="transferStation"
                                        aria-label="Default select example"
                                        (change)="getKvSchoolByStationId($event)">
                                        <option selected disabled> Select Station</option>
                                        <option *ngFor="let data of stationList; let i=index;"
                                            value="{{data.station_code}}">
                                            {{data.station_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-2" *ngIf="showSchool">
                                    <label class="mb-1"> Select School<span class="required-asterisk">*</span></label>
                                    <select class="form-select form-select-sm"  formControlName="transferSchool"
                                        aria-label="Default select example" 
                                        (change)="setUdiseCode($event)">
                                        <option selected > Select School</option>
                                        <option *ngFor="let data of kvSchoolList; let i=index;"
                                            value="{{data.kvName}}({{data.udiseSchCode}})">
                                            {{data.kvName}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-4 mb-2" *ngIf="showZiet">
                                    <label class="mb-1"> Select ZIET<span class="required-asterisk">*</span></label>
                                    <select class="form-select form-select-sm" aria-label="Default select example" formControlName="TransferZiet"  (change)="getStationByHqId($event)">
                                        <option selected disabled> Select ZITE</option>
                                        <option *ngFor="let data of zoneList; let i=index;" value="{{data.kv_code}}">
                                            {{data.kv_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3 " *ngIf="showHq">
                                    <label class="mb-1"> Select HeadQuarter<span class="required-asterisk">*</span></label>
                                    <select class="form-select form-select-sm" aria-label="Default select example" formControlName="TransferHeadquater"  (change)="getStationByHqId($event)" >
                                        <option selected disabled> Select HQ</option>
                                        <option *ngFor="let data of headQuaterList; let i=index;" value="{{data.kv_code}}">
                                            {{data.kv_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-2" *ngIf="showCategory">
                                    <label class="mb-1"> Select Transfer Ground<span class="required-asterisk">*</span></label>
                                    <select class="form-select form-select-sm" formControlName="transferGround"
                                        aria-label="Default select example">
                                        <option selected disabled> Select Category</option>
                                        <option *ngFor="let data of transferGroundValue; let i=index;"
                                            value="{{data.categoriesId}}">
                                            {{data.categoriesName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <label class="mb-1"> Transfer Order Number<span class="required-asterisk">*</span></label>
                                    <input list="browsers"  class="form-control form-control-sm" id="orderno" formControlName="transferOrderNumber" >
                                    <datalist id="browsers">
                                        <option value="Edge">
                                        <option value="Firefox">
                                        <option value="Chrome">
                                        <option value="Opera">
                                        <option value="Safari">
                                      </datalist>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <label class="mb-1"> Transfer Order Date<span class="required-asterisk">*</span></label>
                                     <input type="date" [max]="maxDate" (keydown)="disableDate()" class="form-control form-control-sm" formControlName="transferOrderdate" name="transferOrderdate" placeholder="Date">
                                </div>
                                <div class="col-md-4 mb-2">
                                    <label class="mb-1"> Transfer Year<span class="required-asterisk">*</span></label>
                                    <select class="form-select form-select-sm" formControlName="transferYear"
                                        aria-label="Default select example">
                                        <option selected disabled> Select Year</option>
                                        <option  value="2023">2023</option>
                                        <option  value="2024">2024</option>
                                    </select>
                                </div>

                                <div class="col-md-4 mt-4 " *ngIf="selectHeadQuaterZoneRegion">
                                    <input type="hidden" readonly="true" class="form-control form-control-sm" name="udiseSchoolName" formControlName="TransferRegionZietHq" value="{{kvRegionSchoolZietHqName}}">
                                </div>
                            </div>
                            <div class="p-3" style="text-align: center;">
                                <input class="mat-raised-button btn-secondary trasnfer-save ms-2" type="submit"
                                    id="submit1" value="Modify Transfer" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <p class="mt-2" style="text-align: left;">
            <strong style="font-weight: bolder; color: #632765;">Note :</strong> Select school by region and station. 
        </p>
    </div>
    </ng-template>
</div>
<div mat-dialog-content>
    <ng-template #AdminMdificationBox let-modal >
        <div class="modal-header">
            <div class="d-flex justify-content-between w-100">
                <h1 class="mb-0 " >Employee Transfer Modification </h1>
                <i class="fa fa-times" (click)="cancelModal()"
                    style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;" aria-hidden="true"></i>
            </div>
        </div>
        <div class="p-3"  style="min-height: 286px;">
            <div class="table-responsive">
                <table class="table table-bordered text-start" >
                    <thead>
                        <tr>
                            <th colspan="4" class="text-start">
                                Employee Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="w-25 text-start"> Employee Name (Code)</th>
                            <td class="text-start"> {{editModifyEmpName}} ({{editModifyEmpCode}})</td>
                            <th class="text-start">Email Id </th>
                            <td class="text-start">{{teacherEmail | uppercase}} </td>
                        </tr>
                        <tr>
                            <th class="text-start">DOB (dd-mm-yyyy) </th>
                            <td class="text-start"> {{teacherDob|date:"dd-MM-yyyy"}}</td>
                            <th class="text-start">Present Region Name </th>
                            <td class="text-start"> {{PresentRegionName}} </td> 
                        </tr>
                        <tr>
                            <th class="text-start">Present Station Name</th>
                            <td class="text-start"> {{PresentStationName}}</td>
                            <th class="text-start">Present School Name (Code) </th>
                            <td class="text-start"> {{presentKvName}} ({{presentKvCode}})</td>
                        </tr>
                    </tbody>
                </table>
                    <table class="table table-bordered text-start" *ngFor="let data of modifyTransType let i=index"> 
                    <thead>
                        <tr>
                            <th colspan="4" class="text-start" *ngIf="i+1=='1'">
                                Transfer Type  - I
                             </th>
                             <th colspan="4" class="text-start" *ngIf="i+1=='2'">
                                 Transfer Type  - II
                             </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th class="text-start " style="width:269px"> Institute Name (Code) </th>
                            <td class="text-start"> {{data.kv_name_alloted}} ({{data.allot_kv_code}})</td>
                            <th class="text-start">Joining Date (dd-mm-yyyy)</th>
                            <td class="text-start"> {{data.join_date | date:"dd-MM-yyyy"}}</td>
                        </tr>
                        <tr>
                            <th class="text-start">Relieving Date From Previous Institute (dd-mm-yyyy) </th>
                            <td class="text-start"> {{data.relieve_date | date:"dd-MM-yyyy"}} </td>
                            <th class="text-start">Transfer Type </th>
                            <td class="text-start"> {{data.addTransType}} </td> 
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered text-start" *ngIf="modifyTransType.length<2">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-start">
                                Employee Transfer Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>                            
                        <tr>
                            <th class="text-start w-50">Transfer To Region/School/ZIET/HQ </th>
                            <td class="text-start"  style="background: #f5f5dc91; "><b>{{kvRegionSchoolZietHqName}} </b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
         
        <div *ngIf="modifyTransType.length<2">
            <div class="pb-2 mt-2  row  m-0">
                <label for="staticEmail" class="col-sm-6 col-form-label ps-0">Select Institute Type<span class="required-asterisk">*</span></label>
                <div class="col-sm-6">
                    <select class="form-select"   (change)="selectInstituteType($event)"  aria-label="Default select example" id="institute_id">
                        <option selected disabled>Select </option>
                        <option  value="3"> REGION</option>
                        <option  value="1"> SCHOOL</option>
                        <option  value="2"> ZIET</option>
                        <option  value="4"> HQ</option>
                    </select>
                </div>
            </div>
            <div class="card pt-3 mt-3" *ngIf="showTransferEditForm"  >
                <form [formGroup]="modificationEditForm" (ngSubmit)="submitModificationForm()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="px-3">
                                <div class="row">
                                    <div class="col-md-4 mb-2" *ngIf="showRegion || showSchool ">
                                        <label class="mb-1"> Select Region<span class="required-asterisk">*</span></label>
                                        <select class="form-select form-select-sm" formControlName="modifyTransferRegion"
                                            aria-label="Default select example"
                                            (change)="getStationByHqId($event);getStationByRegionId($event)">
                                            <option selected disabled> Select Region</option>
                                            <option *ngFor="let data of selectRegionList" 
                                                value="{{data.region_code}}">
                                                {{data.region_name}}
                                           </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-2" *ngIf="showSchool">
                                        <label class="mb-1"> Select Station<span class="required-asterisk">*</span></label>
                                        <select class="form-select form-select-sm" formControlName="modifyTransferStation"
                                            aria-label="Default select example"
                                            (change)="getKvSchoolByStationId($event)">
                                            <option selected disabled> Select Station</option>
                                            <option *ngFor="let data of stationList; let i=index;"
                                                value="{{data.station_code}}">
                                                {{data.station_name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-2" *ngIf="showSchool">
                                        <label class="mb-1"> Select School<span class="required-asterisk">*</span></label>
                                        <select class="form-select form-select-sm"  formControlName="modifyTransferSchool"
                                            aria-label="Default select example" 
                                            (change)="setUdiseCode($event)">
                                            <option selected > Select School</option>
                                            <option *ngFor="let data of kvSchoolList; let i=index;"
                                                value="{{data.kvName}}({{data.udiseSchCode}})">
                                                {{data.kvName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-2" *ngIf="showZiet">
                                        <label class="mb-1"> Select ZIET<span class="required-asterisk">*</span></label>
                                        <select class="form-select form-select-sm" aria-label="Default select example" formControlName="modifyTransferZiet"  (change)="getStationByHqId($event)">
                                            <option selected disabled> Select ZITE</option>
                                            <option *ngFor="let data of zoneList; let i=index;" value="{{data.kv_code}}">
                                                {{data.kv_name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 " *ngIf="showHq">
                                        <label class="mb-1"> Select HeadQuarter<span class="required-asterisk">*</span></label>
                                        <select class="form-select form-select-sm" aria-label="Default select example" formControlName="modifyTransferHeadquater"  (change)="getStationByHqId($event)" >
                                            <option selected disabled> Select HQ</option>
                                            <option *ngFor="let data of headQuaterList; let i=index;" value="{{data.kv_code}}">
                                                {{data.kv_name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-2" *ngIf="showCategory">
                                        <label class="mb-1"> Select Transfer Ground<span class="required-asterisk">*</span></label>
                                        <select class="form-select form-select-sm" formControlName="modifyTransferGround"
                                            aria-label="Default select example">
                                            <option selected disabled> Select Category</option>
                                            <option *ngFor="let data of transferGroundValue; let i=index;"
                                                value="{{data.categoriesId}}">
                                                {{data.categoriesName}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-md-4 mb-2">
                                        <label class="mb-1"> Transfer Order Number<span class="required-asterisk">*</span></label>
                                        <input list="browsers"  class="form-control form-control-sm" id="orderno" formControlName="transferOrderNumber" >
                                        <datalist id="browsers">
                                            <option value="Edge">
                                            <option value="Firefox">
                                            <option value="Chrome">
                                            <option value="Opera">
                                            <option value="Safari">
                                          </datalist>
                                    </div>

                                    <div class="col-md-4 mb-2">
                                        <label class="mb-1"> Transfer Order Date<span class="required-asterisk">*</span></label>
                                         <input type="date" [max]="maxDate" (keydown)="disableDate()" class="form-control form-control-sm" formControlName="transferOrderdate" name="transferOrderdate" placeholder="Date">
                                    </div>

                                    <div class="col-md-4 mb-2">
                                        <label class="mb-1"> Transfer Year<span class="required-asterisk">*</span></label>
                                        <select class="form-select form-select-sm" formControlName="transferYear"
                                            aria-label="Default select example">
                                            <option selected disabled> Select Year</option>
                                            <option  value="2023">2023</option>
                                            <option  value="2024">2024</option>
                                        </select>
                                    </div>

                                    <div class="col-md-4 mt-4 " *ngIf="selectHeadQuaterZoneRegion">
                                        <input type="hidden" readonly="true" class="form-control form-control-sm" name="udiseSchoolName" formControlName="ModifyTransferRegionZietHq" value="{{kvRegionSchoolZietHqName}}">
                                    </div>
                                </div>
                                <div class="p-3" style="text-align: center;">
                                    <input class="mat-raised-button btn-secondary trasnfer-save ms-2" type="submit"
                                        id="submit1" value="Modify Transfer" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <p class="mt-2" style="text-align: left;">
                <strong style="font-weight: bolder; color: #632765;">Note :</strong> Select school by region and station. 
            </p>
            </div>
    </div>
    </ng-template>
</div>
 <div mat-dialog-content>
    <ng-template #AdminCancelBox let-modal style="min-width: 100%;">
        <div class="modal-header">
            <div class="d-flex justify-content-between w-100">
                <h1 class="mb-0 " >Employee Transfer Cancel </h1>
                <i class="fa fa-times" (click)="cancelModal()"
                    style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;" aria-hidden="true"></i>
            </div>
        </div>
        <div class="p-3">
            <div class="table-responsive">
                <table class="table table-bordered text-start">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-start">
                                Employee Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="w-25 text-start"> Employee Name (Code)</th>
                            <td class="text-start"> {{editCancelEmpName}}
                                ({{editCancelEmpCode}})</td>
                            <th class="text-start">Email Id </th>
                            <td class="text-start">{{cancelEmail | uppercase}} </td>
                        </tr>
                        <tr>
                            <th class="text-start">Present School Name (Code) </th>
                            <td class="text-start"> {{canclKvName}} ({{cancelkvCode}})</td>
                            <th class="text-start">DOB (dd-mm-yyyy)</th>
                            <td class="text-start"> {{canceldob |date:"dd-MM-yyyy"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card pt-0 mt-0" >
                <form [formGroup]="cancelEditForm" (ngSubmit)="submitcancelForm()">
                    <div class="row">
                        <div class="col-md-12">


                            <table class="table table-bordered w-100">
                                <thead>
                                    <tr style="background-color:#7492cb;">
                                        <th colspan="7" class="text-center text-white">Transfer Details</th>
                                    </tr>
                                    <tr style="background-color:#E5EEFF;">
                                        <th >Alloted School Name</th>
                                        <th width="18%">Join Date</th>
                                        <th width="18%">Relieve Date</th>
                                        <th width="16%">Action</th>
                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of cancelArrayList; let i=index">
                                        <td>{{data?.kv_name_alloted}} ({{data?.allot_kv_code}})</td>
                                        <td>{{data?.join_date}}</td>
                                        <td>{{data?.relieve_date}}</td>
                                        <td><input class="form-check-input" type="radio" id="kv_{{i}}" name="age" value="{{data?.allot_kv_code}}-{{data?.transfer_type}}" (change)="onItemChange($event.target.value)"></td>
                                      
                                    </tr>
                                </tbody>
                            </table>

                            <div class="px-3">
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <label  class="col-sm-6 col-form-label ps-0"> Cancel Transfer Order Number<span class="required-asterisk">*</span></label>
                                        <input list="browsers"  class="form-control form-control-sm" id="cancelorderno" formControlName="cancelTransferOrderNumber" >
                                        <datalist id="browsers">
                                            <option value="Edge">
                                            <option value="Firefox">
                                            <option value="Chrome">
                                            <option value="Opera">
                                            <option value="Safari">
                                          </datalist>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label  class="col-sm-6 col-form-label ps-0"> Cancel Transfer Order Date<span class="required-asterisk">*</span></label>
                                        <input type="date" (keydown)="disableDate()"  class="form-control form-control-sm" [max]="maxDate" formControlName="cancelTransferOrderdate" name="cancelTransferOrderdate" placeholder="Date">
                                    </div>
                               </div>
                                <div class="p-3" style="text-align: center;">
                        <input class="mat-raised-button btn-secondary trasnfer-save ms-2" type="submit"
                    id="submit1" value="Cancel Transfer" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div> 
    </div>
    </ng-template>
</div>


<div mat-dialog-content>
    <ng-template #AdminViewBox let-modal style="min-width: 100%;">
        <div class="modal-header">
            <div class="d-flex justify-content-between w-100">
                <h1 class="mb-0 " >Employee Work Experience </h1>
                <i class="fa fa-times" (click)="cancelModal()"
                    style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;" aria-hidden="true"></i>
            </div>
        </div>
        <div class="p-3">
            <div class="table-responsive">
                <table class="table table-bordered w-100">

                    <thead>
                        <tr style="background-color:#7492cb;">
                            <th colspan="7" class="text-center text-white"> Employee Details</th>
                        </tr>
                      
                    </thead>
                    <tbody>
                        <tr>
                            <th class="w-25 text-start"> Employee Name (Code)</th>
                            <td class="text-start"> {{editModifyEmpNameViewModal}}
                                ({{editModifyEmpCodeViewModal}})</td>
                            <th class="text-start">Email Id </th>
                            <td class="text-start">{{teacherEmailViewModal | uppercase}} </td>
                        </tr>
                        <tr>
                            <th class="text-start">Present School Name (Code) </th>
                            <td class="text-start"> {{presentKvNameViewModal}} ({{presentKvCodeViewModal}})</td>
                            <th class="text-start">DOB (dd-mm-yyyy)</th>
                            <td class="text-start"> {{teacherDobViewModal |date:"dd-MM-yyyy"}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered w-100">
                    <thead>
                        <tr style="background-color:#7492cb;">
                            <th colspan="7" class="text-center text-white">Experience</th>
                        </tr>
                        <tr style="background-color:#E5EEFF;">
                            <th>School Name</th>
                            <th width="8%">From</th>
                            <th width="8%">To</th>
                            <th width="16%">Position Held</th>
                            <th width="13%">Appointed for Subject</th>
                            <th width="15%">Transfer Ground</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of verifyTchTeacherWorkExp">
                            <td>{{data?.udiseSchoolName}}</td>
                            <td>{{data?.workStartDate}}</td>
                            <td>{{data?.workEndDate}}</td>
                            <td>{{data?.positionType}}</td>
                            <td>{{data?.appointedForSubject}}</td>
                            <td>{{data?.groundForTransfer == 'null' ? '':data?.groundForTransfer}}</td>
                        </tr>
                    </tbody>
                </table>
            </div> 
    </div>
    </ng-template>
</div>


</div>
</div>