<div class="dashboard-main-content" style="min-height: 600px;">
    <div class="dashboard-main-content__header">
        <h1 class="mb-1">Transfer List (Modify)</h1>
    </div>
    <nav aria-label="breadcrumb" class="mt-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Transfer List (Modify)</a></li>
        </ol>
    </nav>
    <div class="dashboard-main-content-info">
        <div class="row">
            <div class="col-lg-12">

        <div class="row">
            <div class="col-md-2 form-group  mb-3">
                <label class="titleSet">Year</label>
                <mat-select    class="form-control" [(ngModel)]="selectYear" >
                    <mat-option value="">Select Year</mat-option>
                    <mat-option  value="2023">2023</mat-option>
                </mat-select>
            </div>

            <div class="col-md-4 form-group  mb-3">
                <label class="titleSet">Transfer List Type</label>
                <mat-select    class="form-control" (selectionChange)="getAllModifyTransferAsTypeList($event.value)" [(ngModel)]="selectTransferType" >
                    <mat-option value="">Select Region Name</mat-option>
                    <mat-option  value="S">Transfer Cycle - 2023</mat-option>
                    <mat-option  value="A">Admin</mat-option>
                </mat-select>
            </div>
            <div class="col-md-6 form-group ">
                <div class="float-end">
                    <div *ngIf="dataSource">
                        <span class="me-2">Show Results : <strong>  {{totalLength}}</strong></span>
                        <mat-form-field  style="width: 350px;" appearance="outline" class=" searchInput ">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                        </mat-form-field>
                    </div>      
                    </div>
                </div>
        </div>
   
        <div class="example-container mat-elevation-z8 " id="style-2">
            <mat-table [dataSource]="dataSource" matSort #hBSort="matSort">
                <ng-container matColumnDef="Sno">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span> {{row.sno}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="employeecode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Code </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"> </span>{{row.employeecode}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Employee name </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"> </span> {{row.name}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="kv_code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> KV Code </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span> {{row.kv_code}}
                    </mat-cell>
                </ng-container>  

                <ng-container matColumnDef="is_admin_transfer">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Transfer Type </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span> {{row.is_admin_transfer}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="kv_name_alloted">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> KV Name Alloted </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span>{{row.kv_name_alloted}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="transfer_under_cat">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Transfer Under Category</mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span> {{row.transferred_under_cat}}
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="join_date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Join Date </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span> {{row.join_date
                        |date:"dd-MM-yyyy"}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="relieve_date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Relieve Date </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span>{{row.relieve_date
                        |date:"dd-MM-yyyy"}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="allot_stn_code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Allot Station Code</mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span> {{row.allot_stn_code}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row"><span class="mobile-label"></span>
                        <span *ngIf="row.transferStatusAction =='transfer' ">
                            <i class="fa fa-exchange"
                                (click)="openTransfermodal(row.name,row.employeecode,row.email,row.kv_code,row.teacher_dob,row.presentKvName,row.presentKvCode,row.presentStationName,row.presentRegionName)"
                                style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;" aria-hidden="true"></i>
                        </span>
                        <span *ngIf="row.transferStatusAction =='modificationcancel' ">
                            <i class="fa fa-edit"  (click)="openModificationmodal(row.employeecode,row.name,row.presentKvName,row.presentKvCode,row.presentStationName,row.presentRegionName)"style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;"
                                aria-hidden="true"></i>
                            <i class="fa fa-times-circle-o"
                                 (click)="openCancelmodal(row.name,row.employeecode,row.email,row.kv_code,row.teacher_dob)" style="font-size: 1.8rem; color: #dc1301e3; margin-left: 10px;" aria-hidden="true"></i>
                        </span>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true; "></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>  
    </div>
 </div>
 <div mat-dialog-content>
    <ng-template #AdminTransferBox let-modal style="min-width: 100%;">
        <div class="modal-header">
            <div class="d-flex justify-content-between w-100">
                <h1 class="mb-0 " >Employee Transfer </h1>
                <i class="fa fa-times" (click)="cancelModal()"
                    style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;" aria-hidden="true"></i>
            </div>
        </div>
        <div class="p-3">
            <div class="table-responsive">
                <table class="table table-bordered text-start">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-start">
                                Employee Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="w-25 text-start"> Employee Name(Code)</th>
                            <td class="text-start"> {{editEmpName}}({{editEmpCode}})</td>
                            <th class="text-start">Email </th>
                            <td class="text-start">{{email | uppercase}} </td>
                        </tr>
                        <tr>
                            <th class="text-start">D.O.B </th>
                            <td class="text-start"> {{dob|date:"dd-MM-yyyy"}}</td>
                            <th class="text-start">Present Region Name </th>
                            <td class="text-start"> {{PresentRegionName}} </td> 
                        </tr>
                        <tr>
                            <th class="text-start">Present Station name</th>
                            <td class="text-start"> {{PresentStationName}}</td>
                            <th class="text-start">Present School Name(Code) </th>
                            <td class="text-start"> {{presentKvName}} ({{presentKvCode}})</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered text-start">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-start">
                                Employee Transfer Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>                            
                        <tr>
                            <th class="text-start w-50">Transfer To Region/School/ZIET/HQ </th>
                            <td class="text-start"  style="background: #f5f5dc91; "><b>{{kvRegionSchoolZietHqName}} </b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pb-2 mt-2  row  m-0">
                <label for="staticEmail" class="col-sm-6 col-form-label ps-0">Select Institute Type</label>
                <div class="col-sm-6">
                    <select class="form-select"   (change)="selectInstituteType($event)"  aria-label="Default select example" id="institute_id">
                        <option selected disabled>Select </option>
                        <option  value="3"> REGION</option>
                        <option  value="1"> SCHOOL</option>
                        <option  value="2"> ZIET</option>
                        <option  value="4"> HQ</option>
                    </select>
                </div>
            </div>
        <div class="card pt-3 mt-3" *ngIf="showTransferEditForm">
            <form [formGroup]="adminTransferEditForm" (ngSubmit)="submitForm()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="px-3">
                            <div class="row">
                                <div class="col-md-4 mb-2" *ngIf="showRegion || showSchool ">
                                    <label class="mb-1"> Select Region</label>
                                    <select class="form-select form-select-sm" formControlName="transferRegion"
                                        aria-label="Default select example"
                                        (change)="getStationByHqId($event);getStationByRegionId($event)">
                                        <option selected disabled> Select Region</option>
                                        <option *ngFor="let data of selectRegionList" 
                                            value="{{data.region_code}}">
                                            {{data.region_name}}
                                       </option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-2" *ngIf="showSchool">
                                    <label class="mb-1"> Select Station</label>
                                    <select class="form-select form-select-sm" formControlName="transferStation"
                                        aria-label="Default select example"
                                        (change)="getKvSchoolByStationId($event)">
                                        <option selected disabled> Select Station</option>
                                        <option *ngFor="let data of stationList; let i=index;"
                                            value="{{data.station_code}}">
                                            {{data.station_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-2" *ngIf="showSchool">
                                    <label class="mb-1"> Select School</label>
                                    <select class="form-select form-select-sm"  formControlName="transferSchool"
                                        aria-label="Default select example" 
                                        (change)="setUdiseCode($event)">
                                        <option selected > Select School</option>
                                        <option *ngFor="let data of kvSchoolList; let i=index;"
                                            value="{{data.kvName}}({{data.udiseSchCode}})">
                                            {{data.kvName}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-4 mb-2" *ngIf="showZiet">
                                    <label class="mb-1"> Select ZIET</label>
                                    <select class="form-select form-select-sm" aria-label="Default select example" formControlName="TransferZiet"  (change)="getStationByHqId($event)">
                                        <option selected disabled> Select ZITE</option>
                                        <option *ngFor="let data of zoneList; let i=index;" value="{{data.kv_code}}">
                                            {{data.kv_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3 " *ngIf="showHq">
                                    <label class="mb-1"> Select HeadQuater</label>
                                    <select class="form-select form-select-sm" aria-label="Default select example" formControlName="TransferHeadquater"  (change)="getStationByHqId($event)" >
                                        <option selected disabled> Select HQ</option>
                                        <option *ngFor="let data of headQuaterList; let i=index;" value="{{data.kv_code}}">
                                            {{data.kv_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-2" *ngIf="showCategory">
                                    <label class="mb-1"> Select Transfer Ground</label>
                                    <select class="form-select form-select-sm" formControlName="transferGround"
                                        aria-label="Default select example">
                                        <option selected disabled> Select Category</option>
                                        <option *ngFor="let data of transferGroundValue; let i=index;"
                                            value="{{data.categoriesId}}">
                                            {{data.categoriesName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <label class="mb-1"> Transfer Order Number</label>
                                    <input type="text"  class="form-control form-control-sm" id="orderno" formControlName="transferOrderNumber" >
                                </div>
                                <div class="col-md-4 mt-4 " *ngIf="selectHeadQuaterZoneRegion">
                                    <input type="hidden" readonly="true" class="form-control form-control-sm" name="udiseSchoolName" formControlName="TransferRegionZietHq" value="{{kvRegionSchoolZietHqName}}">
                                </div>
                            </div>
                            <div class="p-3" style="text-align: center;">
                                <input class="mat-raised-button btn-secondary trasnfer-save ms-2" type="submit"
                                    id="submit1" value="Modify Transfer" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <p class="mt-2" style="text-align: left;">
            <strong style="font-weight: bolder; color: #632765;">Note :</strong> Select school by region and station. 
        </p>
    </div>
    </ng-template>
</div>
<div mat-dialog-content>
    <ng-template #AdminMdificationBox let-modal >
        <div class="modal-header">
            <div class="d-flex justify-content-between w-100">
                <h1 class="mb-0 " >Employee Transfer Modification </h1>
                <i class="fa fa-times" (click)="cancelModal()"
                    style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;" aria-hidden="true"></i>
            </div>
        </div>
        <div class="p-3"  style="min-height: 286px;">
            <div class="table-responsive">
                <table class="table table-bordered text-start">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-start">
                                Employee Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="w-25 text-start"> Employee Name(Code)</th>
                            <td class="text-start"> {{editModifyEmpName}}({{editModifyEmpCode}})</td>
                            <th class="text-start">Email </th>
                            <td class="text-start">{{ModifyEmail | uppercase}} </td>
                        </tr>
                        <tr>
                            <th class="text-start">D.O.B </th>
                            <td class="text-start"> {{Modifydob|date:"dd-MM-yyyy"}}</td>
                            <th class="text-start">Present Region Name </th>
                            <td class="text-start"> {{PresentRegionName}} </td> 
                        </tr>
                        <tr>
                            <th class="text-start">Present Station name</th>
                            <td class="text-start"> {{PresentStationName}}</td>
                            <th class="text-start">Present School Name(Code) </th>
                            <td class="text-start"> {{presentKvName}} ({{presentKvCode}})</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered text-start">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-start">
                              Transfer Cycle - I Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="text-start " style="width:269px">Designated Institute Name </th>
                            <td class="text-start"> {{ModifykvName}} ({{ModifykvCode}})</td>
                            <th class="text-start">Joining Date </th>
                            <td class="text-start"> {{joinDate}}</td>
                        </tr>
                        <tr>
                            <th class="text-start">Reliving Date </th>
                            <td class="text-start"> {{reliveDate}} </td>
                            <th class="text-start">Transfer Type </th>
                            <td class="text-start"> {{editeModifyTransferType}} </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered text-start" *ngIf="modiFYTransferType=='S' || modiFYTransferType=='AM'">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-start">
                             Transfer By Admin transfer
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="text-start" style="width:269px">Alloted Institute Name </th>
                            <td class="text-start"  style="width: 426px;"> {{editAllotedModifykvName}} ({{editAllotedModifykvCode}})</td>
                            <th class="text-start">Joining Date </th>
                            <td class="text-start"> {{editAllotedModifyJoindate}}</td>
                        </tr>
                        <tr>
                            <th class="text-start">Reliving Date </th>
                            <td class="text-start"> {{editAllotedModifyrelivedate}} </td>
                            <th class="text-start">Transfer Type </th>
                            <td class="text-start"> {{editeAllotedTransferType}} </td>
                        </tr> 
                    </tbody>
                </table>

                <table class="table table-bordered text-start" *ngIf="modiFYTransferType=='' || modiFYTransferType==null || modiFYTransferType==undefined || modiFYTransferType=='A'">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-start">
                                Employee Transfer Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>                            
                        <tr>
                            <th class="text-start w-50">Transfer To Region/School/ZIET/HQ </th>
                            <td class="text-start"  style="background: #f5f5dc91; "><b>{{kvRegionSchoolZietHqName}} </b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div *ngIf="modiFYTransferType=='' || modiFYTransferType==null || modiFYTransferType==undefined || modiFYTransferType=='A'">
            <div class="pb-2 mt-2  row  m-0">
                <label for="staticEmail" class="col-sm-6 col-form-label ps-0">Select Institute Type</label>
                <div class="col-sm-6">
                    <select class="form-select"   (change)="selectInstituteType($event)"  aria-label="Default select example" id="institute_id">
                        <option selected disabled>Select </option>
                        <option  value="3"> REGION</option>
                        <option  value="1"> SCHOOL</option>
                        <option  value="2"> ZIET</option>
                        <option  value="4"> HQ</option>
                    </select>
                </div>
            </div>
            <div class="card pt-3 mt-3" *ngIf="showTransferEditForm"  >
                <form [formGroup]="modificationEditForm" (ngSubmit)="submitModificationForm()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="px-3">
                                <div class="row">
                                    <div class="col-md-4 mb-2" *ngIf="showRegion || showSchool ">
                                        <label class="mb-1"> Select Region</label>
                                        <select class="form-select form-select-sm" formControlName="modifyTransferRegion"
                                            aria-label="Default select example"
                                            (change)="getStationByHqId($event);getStationByRegionId($event)">
                                            <option selected disabled> Select Region</option>
                                            <option *ngFor="let data of selectRegionList" 
                                                value="{{data.region_code}}">
                                                {{data.region_name}}
                                           </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-2" *ngIf="showSchool">
                                        <label class="mb-1"> Select Station</label>
                                        <select class="form-select form-select-sm" formControlName="modifyTransferStation"
                                            aria-label="Default select example"
                                            (change)="getKvSchoolByStationId($event)">
                                            <option selected disabled> Select Station</option>
                                            <option *ngFor="let data of stationList; let i=index;"
                                                value="{{data.station_code}}">
                                                {{data.station_name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-2" *ngIf="showSchool">
                                        <label class="mb-1"> Select School</label>
                                        <select class="form-select form-select-sm"  formControlName="modifyTransferSchool"
                                            aria-label="Default select example" 
                                            (change)="setUdiseCode($event)">
                                            <option selected > Select School</option>
                                            <option *ngFor="let data of kvSchoolList; let i=index;"
                                                value="{{data.kvName}}({{data.udiseSchCode}})">
                                                {{data.kvName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-2" *ngIf="showZiet">
                                        <label class="mb-1"> Select ZIET</label>
                                        <select class="form-select form-select-sm" aria-label="Default select example" formControlName="modifyTransferZiet"  (change)="getStationByHqId($event)">
                                            <option selected disabled> Select ZITE</option>
                                            <option *ngFor="let data of zoneList; let i=index;" value="{{data.kv_code}}">
                                                {{data.kv_name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 " *ngIf="showHq">
                                        <label class="mb-1"> Select HeadQuater</label>
                                        <select class="form-select form-select-sm" aria-label="Default select example" formControlName="modifyTransferHeadquater"  (change)="getStationByHqId($event)" >
                                            <option selected disabled> Select HQ</option>
                                            <option *ngFor="let data of headQuaterList; let i=index;" value="{{data.kv_code}}">
                                                {{data.kv_name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-2" *ngIf="showCategory">
                                        <label class="mb-1"> Select Transfer Ground</label>
                                        <select class="form-select form-select-sm" formControlName="modifyTransferGround"
                                            aria-label="Default select example">
                                            <option selected disabled> Select Category</option>
                                            <option *ngFor="let data of transferGroundValue; let i=index;"
                                                value="{{data.categoriesId}}">
                                                {{data.categoriesName}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col-md-4 mb-2">
                                        <label class="mb-1"> Transfer Order Number</label>
                                        <input type="text"  class="form-control form-control-sm" id="orderno" formControlName="transferOrderNumber" >
                                    </div>

                                    <div class="col-md-4 mt-4 " *ngIf="selectHeadQuaterZoneRegion">
                                        <input type="hidden" readonly="true" class="form-control form-control-sm" name="udiseSchoolName" formControlName="ModifyTransferRegionZietHq" value="{{kvRegionSchoolZietHqName}}">
                                    </div>
                                </div>
                                <div class="p-3" style="text-align: center;">
                                    <input class="mat-raised-button btn-secondary trasnfer-save ms-2" type="submit"
                                        id="submit1" value="Modify Transfer" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <p class="mt-2" style="text-align: left;">
                <strong style="font-weight: bolder; color: #632765;">Note :</strong> Select school by region and station. 
            </p>
            </div>
    </div>
    </ng-template>
</div>
 <div mat-dialog-content>
    <ng-template #AdminCancelBox let-modal style="min-width: 100%;">
        <div class="modal-header">
            <div class="d-flex justify-content-between w-100">
                <h1 class="mb-0 " >Employee Transfer Cancel </h1>
                <i class="fa fa-times" (click)="cancelModal()"
                    style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;" aria-hidden="true"></i>
            </div>
        </div>
        <div class="p-3">
            <div class="table-responsive">
                <table class="table table-bordered text-start">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-start">
                                Employee Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="w-25 text-start"> Employee Name(Code)</th>
                            <td class="text-start"> {{editCancelEmpName}}
                                ({{editCancelEmpCode}})</td>
                            <th class="text-start">Email </th>
                            <td class="text-start">{{cancelEmail | uppercase}} </td>
                        </tr>
                        <tr>
                            <th class="text-start">Present School Name </th>
                            <td class="text-start"> {{cancelkvCode}}</td>
                            <th class="text-start">D.O.B </th>
                            <td class="text-start"> {{canceldob}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card pt-3 mt-3" >
                <form [formGroup]="cancelEditForm" (ngSubmit)="submitcancelForm()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="px-3">
                                <div class="row">
                                    <div class="pb-2 mt-2  row  m-0">
                                        <label  class="col-sm-6 col-form-label ps-0"> Cancel Transfer Order Number</label>
                                        <div class="col-sm-6">
                                            <input type="text"  class="form-control form-control-sm" id="cancelorderno" formControlName="cancelTransferOrderNumber" >
                                        </div>
                                    </div>
                                </div>
                                <div class="p-3" style="text-align: center;">
                        <input class="mat-raised-button btn-secondary trasnfer-save ms-2" type="submit"
                    id="submit1" value="Cancel Transfer" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div> 
    </div>
    </ng-template>
</div>
</div>
</div>