<div class="dashboard-main-content" style="min-height: 600px;">
  <div class="dashboard-main-content__header">
    <h1 clas="mb-1">User Management</h1>
  </div>
    <nav aria-label="breadcrumb" class="mt-0">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Home</a></li>
        <li class="breadcrumb-item"><a>Institute Admin Management</a></li>
      </ol>
    </nav>
    <ul class="nav nav-tabs " id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"  (click)="navColor('transferin')" id="home-tab" [class.myClass]="showFirstButtonColor" type="button" role="tab" aria-controls="profile" aria-selected="false">User List </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link active"  (click)="navColor('transferout');getLoginUserdetail('self')" [class.myClass]="showsecondButtonColor"   data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"> {{pfofileUser}}</button>
      </li>
    </ul>
    <div class="dashboard-main-content-info">
    <div class="tab-content" id="myTabContent">
<!------------------------------------------------- first tab start  here------------------------------->
<div *ngIf="activePaneOne">
  <div class="row  profile-info">
    <div class="col-lg-12"> 
        <div class="row ">
            <div class="col-md-6 position-relative">
             <button mat-raised-button class="btn-secondary add-user"  routerLinkActive="active" routerLink="/teacher/addInstituteHead" ><i class="bi bi-plus-circle me-2"></i>Add User</button>
            </div>  
            <div class="col-md-6" style=" text-align: end;">
              <div class="example-header">
                <mat-form-field appearance="outline" class="searchInput">
                    <input matInput (keyup)="applyFilterHBSource($event.target.value)" placeholder="Search">
                </mat-form-field>      
            </div>
            </div>     
        </div>
        <div class="example-container mat-elevation-z8 " >
          <div class="table-responsive">
            <table mat-table *ngIf="dataSource?.data?.length > 0" id="excel-table" [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table w-100">

              <ng-container matColumnDef="Sno">
                  <th mat-header-cell  *matHeaderCellDef> S.No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.sno}}
                  </td>
              </ng-container>

              <ng-container matColumnDef="User Name">
                  <th mat-header-cell *matHeaderCellDef > User Id </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.username}} </td>
              </ng-container>

              <ng-container matColumnDef="EmployeeName">
                <th mat-header-cell *matHeaderCellDef > Employee Name/Institute Name </th>
                <td mat-cell *matCellDef="let element" style="text-transform:uppercase">
                  {{element.firstname}} </td>
            </ng-container>
  
              <ng-container matColumnDef="Email">
                  <th mat-header-cell *matHeaderCellDef > Email Id </th>
                  <td mat-cell *matCellDef="let element">{{element.email}} </td>
              </ng-container>
  
  
              <ng-container matColumnDef="Mobile">
                  <th mat-header-cell *matHeaderCellDef > Mobile No </th>
                  <td mat-cell *matCellDef="let element">
                      <span> {{element.mobile}}</span> </td>
              </ng-container>
  
              <ng-container matColumnDef="Parent User">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;">Parent User </th>
                  <td mat-cell *matCellDef="let element" style="text-align: center;">
                      <span> {{element.parentuser}}</span> </td>
              </ng-container>
  
              <ng-container matColumnDef="Action" >
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;" >
                      Action </th>
                  <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <button  *ngIf="element.enabled == '1'" class="t-status-btn approved" (click)="childActiveDeactive(0,element.username)">Active</button> 
                    <button *ngIf="element.enabled != '1'" (click)="childActiveDeactive(1,element.username)" class="t-status-btn not-initiated">Deactivate</button>&nbsp;&nbsp;
                    <i  (click)="editChildUser(element.username,'edite',element.firstname)"class="bi bi-eye" matTooltip="View / Edit" style="font-size: 1.5rem; color: #7e4880;"></i></td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
              <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="6">No data Found</td>
              </tr>
          </table>
          </div>
       <mat-paginator #paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>  
    </div>
    </div>
  </div><!--close row-->
  </div> 
      <div *ngIf="activePaneTwo ">
      <div class="row justify-content-center d-flex  profile-info">
        <div class="col-lg-11">
          <div class="row ">
              <div class="col-lg-9">
                <h2>{{pfofileUser}}  info</h2>
                <!-- <p>Personal info and options to manage it. You can make<br> some of this info, like your contact details, visible to<br> others so they can reach you easily. You can also see<br> a summary of your profiles.</p> -->
              </div>
              <div class="col-lg-3" style="text-align: end;">
                <button class=" mat-raised-button btn-secondary add-user"  (click)="backButtonClick()" >Back</button>
              </div>
          </div>
         
          <div class="card p-3 ">
            <div class="pb-2 mt-2  row border-bottom m-0">
              <label for="staticEmail" class="col-sm-3 col-form-label ps-0">User Id</label>
              <div class="col-sm-9">
                <input type="text" [readonly]="userName" [(ngModel)]="loginUserNameForChild" class="form-control-plaintext w-50 " id="staticUserType" id="staticUserName" >
              </div>
            </div>

            <div class="pb-2 mt-2  row border-bottom m-0">
              <label for="staticEmail" class="col-sm-3 col-form-label ps-0">Employee Name</label>
              <div class="col-sm-9">
                <input type="text" [readonly]="fullName" style="text-transform:uppercase" [(ngModel)]="loginUserFullname" class="{{fullName ? 'form-control-plaintext w-50 float-start' : 'form-control w-50 float-start'}}" id="staticFullName" >
                <div *ngIf="staticFullName"><button class="btn-save" (click)="saveProfileData(loginUserFullname,loginUserNameForChild,'firstname')">Save</button></div>
                <i class="{{staticFullName ? 'bi bi-pencil-fill active' : 'bi bi-pencil-fill '}}" (click)="enableInputField('staticFullName')"></i>
              </div>
            </div>

            <div class="pb-2 mt-2  row border-bottom m-0">
              <label for="staticEmail" class="col-sm-3 col-form-label ps-0">Email Id</label>
              <div class="col-sm-9">
                <input type="email" [readonly]="userEmail" [(ngModel)]="loginUserEmail" class="{{userEmail ? 'form-control-plaintext w-50 float-start' : 'form-control w-50 float-start'}}" id="staticUserEmail" >
                <div *ngIf="staticUserEmail"><button class="btn-save" (click)="saveProfileData(loginUserEmail,loginUserNameForChild,'email')">Save</button></div>
                <i class="{{staticUserEmail ? 'bi bi-pencil-fill active' : 'bi bi-pencil-fill '}}" (click)="enableInputField('staticUserEmail')"></i>
                
              </div>
            </div>

            <div class="pb-2 mt-2  row border-bottom m-0">
              <label  class="col-sm-3 col-form-label ps-0">Mobile No</label>
              <div class="col-sm-9">
                <input type="text" [readonly]="userMobile"  (keypress)="omit_special_char_mobile($event)" autocomplete="new-password" onKeyPress="if(this.value.length==10) return false;" [(ngModel)]="loginUserMobile" id="staticUserMobile" class="{{userMobile ? 'form-control-plaintext w-50 float-start' : 'form-control w-50 float-start'}}"  >
                <div *ngIf="staticUserMobile"><button class="btn-save"  (click)="saveProfileData(loginUserMobile,loginUserNameForChild,'mobile')">Save</button></div>
                <i class="{{staticUserMobile ? 'bi bi-pencil-fill active' : 'bi bi-pencil-fill '}}" (click)="enableInputField('staticUserMobile')"></i>
              </div>
            </div>
          </div>
        </div>
      </div><!--close row-->
   </div>  <!--close first  tab-->
<!------------------------------------------------- first tab end  here---------------------------------->

<!------------------------------------------------- secand tab start  here------------------------------->
     
<!------------------------------close secand  tab-------------------------------------------------------->
        </div>  
    </div><!--close main-content-info-->
</div><!--close dashboard-main-content-->
