<div class="sidebar-logo text-center">
    <img src="assets/images/kvs-logo.svg">
</div>

<div class="sidebar-inner">
    <!-----------------------------------------------show National on busnis id 2  and 3------------------------->
    <div class="accordion" id="accordionExample" *ngIf="showNational || showRegion">
        <div class="accordion-item">
            <div class="accordion-header m-0">
                <button class="accordion-button aa" routerLinkActive="" routerLink="/teacher/regionDashboard" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       <img src="assets/images/speedometer.png" class="me-2"> Dashboard
      </button>
            </div>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            </div>
        </div>

        <div class="accordion-item">
            <div class="accordion-header m-0">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       <img src="assets/images/management.png" class="me-2"> User Management
      </button>
            </div>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body p-0 pt-3 pb-3">
                    <ul>
                        <li class=""><a routerLinkActive="active" routerLink="/teacher/userMaster"><i class="bi bi-dot"></i>Add Users</a></li>
                        <li><a routerLinkActive="active" routerLink="/teacher/controler-management"><i class="bi bi-dot"></i>Controlling officer</a></li>

                    </ul>
                </div>
            </div>
        </div>


        <div class="accordion-item" *ngIf="showNational">
            <div class="accordion-header m-0">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <img src="assets/images/transfer.png" class="me-2">Transfer Management
      </button>
            </div>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body p-0 pt-3 pb-3">
                    <ul>
                        <li class=""><a routerLinkActive="active" routerLink="/teacher/modifyTransferModule"><i class="bi bi-dot"></i>Routine Transfer</a></li>
                        <li><a routerLinkActive="active" routerLink="/teacher/globalTransferModule"><i class="bi bi-dot"></i>Admin/HQ Transfer</a></li>
                        <li><a routerLinkActive="active" routerLink="/teacher/excel-transfer"><i class="bi bi-dot"></i>Transfer Through Excel</a></li>
                        <li><a routerLinkActive="active" routerLink="/teacher/transfer-report"><i class="bi bi-dot"></i>Transfer Report</a></li>
                        <li><a routerLinkActive="active" routerLink="/teacher/transfer-related-doc"><i class="bi bi-dot"></i>Document Management System</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
      
        <div class="accordion-item" *ngIf="showNational">
            <div class="accordion-header m-0">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <img src="assets/images/open-book.png" class="me-2">Master
      </button>
            </div>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li><a routerLinkActive="active" routerLink="/teacher/regionMaster"><i class="bi bi-dot"></i>Region/ZIET Master</a></li>
                        <li><a routerLinkActive="active" routerLink="/teacher/stationMaster"><i class="bi bi-dot"></i>Station Master</a></li>
                        <li><a routerLinkActive="active" routerLink="/teacher/schoolMaster"><i class="bi bi-dot"></i>School/Institution Master</a></li>
                        <li><a routerLinkActive="active" routerLink="/teacher/stationCategoryMaster"><i class="bi bi-dot"></i>Station Category Master</a></li>
                        <li><a routerLinkActive="active" routerLinkActive="active" routerLink="/teacher/stafftypeMaster"><i class="bi bi-dot"></i>Staff Type Master</a></li>
                        <li><a routerLinkActive="active" routerLinkActive="active" routerLink="/teacher/designationMaster"><i class="bi bi-dot"></i>Designation Master</a></li>
                        <li><a routerLinkActive="active" routerLinkActive="active" routerLink="/teacher/subjectMaster"><i class="bi bi-dot"></i>Subject Master</a></li>
                    </ul>
                </div>
            </div>
        </div>
        

        <div class="accordion-item">
            <div class="accordion-header m-0">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <img src="assets/images/social-networks.png" class="me-2">Mapping
      </button>
            </div>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li><a routerLinkActive="active" routerLink="/teacher/regionStationMapping"><i class="bi bi-dot"></i>Region Station Mapping</a></li>
                        <li><a routerLinkActive="active" routerLink="/teacher/stationCategoryMapping"><i class="bi bi-dot"></i>Station Category Mapping</a></li>
                        <li><a routerLinkActive="active" routerLink="/teacher/schoolStationMapping"><i class="bi bi-dot"></i>Station School Mapping</a></li>
                        <li><a routerLinkActive="active" routerLink="/teacher/stafftypePostMapping"><i class="bi bi-dot"></i>Staff Type Post Mapping</a></li>
                        <li><a routerLinkActive="active" routerLink="/teacher/postSubjectMapping"><i class="bi bi-dot"></i>Post Subject Mapping</a></li>
                        <li><a routerLinkActive="active" routerLink="/teacher/sanctioned-all-post"><i class="bi bi-dot"></i>Sanctioned Post Mapping</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <div class="accordion-header m-0">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
                    <img src="assets/images/report.png" class="me-2">Reports
      </button>
            </div>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        <li><a routerLinkActive="active" routerLink="/teacher/regionWiseSchool"><i class="bi bi-dot"></i>Region Wise School</a></li>
                        <li><a routerLinkActive="active" routerLink="/teacher/stationWiseSchool"><i class="bi bi-dot"></i>Region and Station Wise School</a></li>
                        <li><a routerLinkActive="active" routerLink="/teacher/regionWiseStationDetail"><i class="bi bi-dot"></i>Region Wise Station Detail</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="list" >
            <li><a routerLinkActive="active" routerLink="/teacher/kvsTicket"> <img src="assets/images/coupon.png" class="me-2">Ticket
                <span style="align-items: end;" [matBadge]="inProgressTicketCount" matBadgeOverlap="false"  class="demo-section"></span> </a>
                </li>
        </ul>
    </div>

    <!-------------------------------------Close Here National ------------------------------------------->
    
    <!------------------Show School bussines id 5--------------------------------------------------------->

    <div class="accordion" id="accordionExample" *ngIf="showSchool">
        <div class="accordion-item">
            <div class="accordion-header m-0">
                <button class="accordion-button aa" routerLinkActive="" routerLink="/teacher/profile" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnec" aria-expanded="true" aria-controls="collapseOnec">
       <img src="assets/images/speedometer.png" class="me-2"> Dashboard
      </button>
            </div>
            <div id="collapseOnec" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            </div>
        </div>

        <div class="accordion-item" >
            <div class="accordion-header m-0">
                <button class="accordion-button aa collapsed" routerLink="/teacher/userMaster" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourcs" aria-expanded="false" aria-controls="collapseFourcs">
                    <img src="assets/images/management.png" class="me-2"> User Management
        </button>
            </div>
            <div id="collapseFourcs" class="accordion-collapse collapse" data-bs-parent="#accordionExample">  
            </div>
        </div>

        <div class="accordion-item" >
            <div class="accordion-header m-0">
                <button class="accordion-button aa collapsed" routerLink="/teacher/kvsTchDetails" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourccs" aria-expanded="false" aria-controls="collapseFourccs">
                    <img src="assets/images/info.png" class="me-2"> Employee Details
        </button>
            </div>
            <div id="collapseFourccs" class="accordion-collapse collapse" data-bs-parent="#accordionExample">  
            </div>
        </div>

        <div class="accordion-item" >
            <div class="accordion-header m-0">
                <button class="accordion-button aa collapsed" routerLink="/teacher/teacher-transfer-dashboard" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourc" aria-expanded="false" aria-controls="collapseFourc">
                    <img src="assets/images/transfer.png" class="me-2">Transfer Management
      </button>
            </div>
            <div id="collapseFourc" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <!-- <div class="accordion-body p-0 pt-3 pb-3">
                    <ul>
                        <li><a routerLinkActive="active" routerLink="{{miscellaneous == true ? '/teacher/transferMiscellaneous/' : '/same/route'}}" (click)="getFormStatusLinkV2();" ><i class="bi bi-dot"></i>Miscellaneous</a></li>
                        <li><a routerLinkActive="active" routerLink="{{stationChoice == true ? '/teacher/transferStationChoice/' : '/same/route'}}" (click)="getFormStatusLinkV2();"><i class="bi bi-dot"></i>Station Choice</a></li>
                        <li><a routerLinkActive="active" routerLink="{{previewUnderTaking == true ? '/teacher/preview-undertaking/' : '/same/route'}}" (click)="getFormStatusLinkV2();" ><i class="bi bi-dot"></i>Preview And Undertaking</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
        
        <div class="accordion-item" >
            <div class="accordion-header m-0">
                <button class="accordion-button aa collapsed" routerLink="/teacher/employeeJoining" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourcccs" aria-expanded="false" aria-controls="collapseFourcccs">
                    <img src="assets/images/rel1.png" class="me-2"> Relieving-Joining 
        </button>
            </div>
            <div id="collapseFourcccs" class="accordion-collapse collapse" data-bs-parent="#accordionExample">  
            </div>
        </div>

        <div class="accordion-item" >
            <div class="accordion-header m-0">
                <button class="accordion-button aa collapsed" routerLink="/teacher/kvsTicket" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourccccs" aria-expanded="false" aria-controls="collapseFourccccs">
                    <img src="assets/images/coupon.png" class="me-2"> Ticket
                    <span style="align-items: end;" [matBadge]="inProgressTicketCountForSchool" matBadgeOverlap="false"  class="demo-section"></span>
        </button>
            </div>
            <div id="collapseFourccccs" class="accordion-collapse collapse" data-bs-parent="#accordionExample">  
            </div>
        </div>
    </div>


    <!-- {{timeLeft}} -->
    <!-----------------------Close Here School------------------------------------------------------------>
</div>

<div class="dashboard-icon" title="Close Sidebar">
    <i class="bi bi-chevron-left dashboard-chevron-left"></i>
</div>