<div class="dashboard-main-content" style="min-height: 600px;">
    <div class="dashboard-main-content__header">
        <h1 class="mb-1">Global Transfer</h1>
    </div>
    <nav aria-label="breadcrumb" class="mt-1">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a>Global Transfer </a></li>
        </ol>
    </nav>
    <div class="dashboard-main-content-info">
        <div class=" ">
            <form [formGroup]="adminTransferForm" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <div class=" prof-fields  p-4 ">
                                <div class="row">
                                    <div class="col-md-4 form-group my-2">
                                        <label class="titleSet">Employee Code</label>
                                        <input type="text" formControlName="employeeCode" class="form-control"
                                            maxlength="50">
                                    </div>
                                    <div class="col-md-4 form-group my-2">
                                        <label class="titleSet">Name</label>
                                        <input type="text" formControlName="name" class="form-control" maxlength="50">
                                    </div>
                                    <div class="col-md-4 form-group my-2">
                                        <label class="titleSet">DOB</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <mat-datepicker-toggle mdSuffix [for]="pickers"></mat-datepicker-toggle>
                                                <mat-datepicker #pickers></mat-datepicker>
                                            </div>
                                     <input class="form-control" id="wordStartDate" (keydown)="disableDate()" [max]="maxDate" [matDatepicker]="pickers"
                                                placeholder="Date of Birth" (click)="pickers.open()" formControlName="dob">
                                    </div>
                                    </div>
                                    <div class="col-md-4 form-group my-2">
                                        <label class="titleSet">Mobile No.</label>
                                        <input type="text" formControlName="mobileNo" class="form-control"
                                            maxlength="10">

                                    </div>
                                    <div class="col-md-4 form-group my-2">
                                        <label class="titleSet">Email Id</label>
                                        <input type="text" formControlName="email" class="form-control">

                                    </div>
                                    <div class="mt-2 " style="text-align: center;">
                                        <button type="submit" class="btn btn-success mt-2">Search</button>&nbsp;&nbsp;
                                        <button type="button" class="btn btn-primary mt-2" (click)="clear()">Clear</button>&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6" style="text-align: end;">
                <div class="example-header">
                     <span class="me-2">Show Results : <strong>  {{totalLength}}</strong></span>
                    <mat-form-field appearance="outline" class=" searchInput ">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">

                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="example-container mat-elevation-z8 table-responsive" >

            <table mat-table  id="excel-table" [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table w-100">
  
              <ng-container matColumnDef="Sno">
                  <th mat-header-cell  *matHeaderCellDef> S.No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.sno}}
                  </td>
              </ng-container>
              <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef > Employee name </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.name}} ({{element.employeecode}}) </td>
              </ng-container>
  
              <ng-container matColumnDef="kv_code">
                  <th mat-header-cell *matHeaderCellDef > Present KV (Code) </th>
                  <td mat-cell *matCellDef="let element">{{element.presentKvName}} ({{element.kv_code}}) </td>
              </ng-container>
  
              <ng-container matColumnDef="is_admin_transfer">
                  <th mat-header-cell *matHeaderCellDef > Transfer Type   </th>
                  <td mat-cell *matCellDef="let element" >
                      <span *ngIf="element.transferStatusOneComplite!='true'"> {{element.is_admin_transfer}}</span> </td>
              </ng-container>
  
              <ng-container matColumnDef="kv_name_alloted" >
                  <th mat-header-cell *matHeaderCellDef > KV Name Allotted </th>
                  <td mat-cell *matCellDef="let element" >
                      <span *ngIf="element.transferStatusOneComplite!='true'"> {{element.kv_name_alloted}}</span> </td>
              </ng-container>

              <ng-container matColumnDef="transfer_under_cat">
                <th mat-header-cell *matHeaderCellDef > Transfer Under Category</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.transferStatusOneComplite!='true'"> {{element.transferred_under_cat}}</span> </td>
            </ng-container>

            <ng-container matColumnDef="join_date">
                <th mat-header-cell *matHeaderCellDef > Join Date</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.transferStatusOneComplite!='true'"> {{element.join_date|date:"dd-MM-yyyy"}}</span> </td>
            </ng-container>

            <ng-container matColumnDef="relieve_date">
                <th mat-header-cell *matHeaderCellDef > Relieve Date </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.transferStatusOneComplite!='true'"> {{element.relieve_date |date:"dd-MM-yyyy"}}</span> </td>
            </ng-container>

            <ng-container matColumnDef="allot_stn_code">
                <th mat-header-cell *matHeaderCellDef > Allot Station Code </th>
                <td mat-cell *matCellDef="let element">
                    <span> {{element.allot_stn_code}}</span> </td>
            </ng-container>
 
              <ng-container matColumnDef="Action" >
                  <th mat-header-cell *matHeaderCellDef > Action </th>
                  <td mat-cell *matCellDef="let element"> 
                    
                    <span *ngIf="element.transferStatusAction =='transfer' ">
                        <i class="fa fa-exchange"
                            (click)="openTransfermodal(element.name,element.employeecode,element.email,element.kv_code,element.teacher_dob,element.presentKvName,element.presentKvCode,element.presentStationName,element.presentRegionName)"
                            style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;" aria-hidden="true"></i>
                    </span>
                    
                    <span *ngIf="element.transferStatusAction =='modificationcancel' ">
                        <i class="fa fa-edit"  (click)="openModificationmodal(element.employeecode,element.name,element.presentKvName,element.presentKvCode,element.presentStationName,element.presentRegionName,element.teacher_dob,element.email)"style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;"
                            aria-hidden="true"></i>
                        <i class="fa fa-times-circle-o"
                             (click)="openCancelmodal(element.name,element.employeecode,element.email,element.presentKvName,element.kv_code,element.teacher_dob)" style="font-size: 1.8rem; color: #dc1301e3; margin-left: 10px;" aria-hidden="true"></i>
                    </span>
                  </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
              <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="9">No data Found</td>
              </tr>
          </table>
              <mat-paginator #paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>  
      </div>



        <div mat-dialog-content>
            <ng-template #AdminTransferBox let-modal style="min-width: 100%;">
                <div class="modal-header">
                    <div class="d-flex justify-content-between w-100">
                        <h1 class="mb-0 " >Employee Transfer </h1>
                        <i class="fa fa-times" (click)="cancelModal()"
                            style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="p-3">
                    <div class="table-responsive">
                        <table class="table table-bordered text-start">
                            <thead>
                                <tr>
                                    <th colspan="4" class="text-start">
                                        Employee Details
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="w-25 text-start"> Employee Name (Code)</th>
                                    <td class="text-start"> {{editEmpName}}({{editEmpCode}})</td>
                                    <th class="text-start">Email Id </th>
                                    <td class="text-start">{{email | uppercase}} </td>
                                </tr>
                                <tr>
                                    <th class="text-start">DOB (dd-mm-yyyy) </th>
                                    <td class="text-start"> {{dob|date:"dd-MM-yyyy"}}</td>
                                    <th class="text-start">Present Region Name </th>
                                    <td class="text-start"> {{PresentRegionName}} </td> 
                                </tr>
                                <tr>
                                    <th class="text-start">Present Station name</th>
                                    <td class="text-start"> {{PresentStationName}}</td>
                                    <th class="text-start">Present School Name (Code) </th>
                                    <td class="text-start"> {{presentKvName}} ({{presentKvCode}})</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered text-start">
                            <thead>
                                <tr>
                                    <th colspan="4" class="text-start">
                                        Employee Transfer Details
                                    </th>
                                </tr>
                            </thead>
                            <tbody>                            
                                <tr>
                                    <th class="text-start w-50">Transfer To Region/School/ZIET/HQ </th>
                                    <td class="text-start"  style="background: #f5f5dc91; "><b>{{kvRegionSchoolZietHqName}} </b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pb-2 mt-2  row  m-0">
                        <label for="staticEmail" class="col-sm-6 col-form-label ps-0">Select Institute Type</label>
                        <div class="col-sm-6">
                            <select class="form-select"   (change)="selectInstituteType($event)"  aria-label="Default select example" id="institute_id">
                                <option selected disabled>Select </option>
                                <option  value="3"> REGION</option>
                                <option  value="1"> SCHOOL</option>
                                <option  value="2"> ZIET</option>
                                <option  value="4"> HQ</option>
                            </select>
                        </div>
                    </div>
                <div class="card pt-3 mt-3" *ngIf="showTransferEditForm">
                    <form [formGroup]="adminTransferEditForm" (ngSubmit)="submitForm()">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="px-3">
                                    <div class="row">
                                        <div class="col-md-4 mb-2" *ngIf="showRegion || showSchool ">
                                            <label class="mb-1"> Select Region</label>
                                            <select class="form-select form-select-sm" formControlName="transferRegion"
                                                aria-label="Default select example"
                                                (change)="getStationByHqId($event);getStationByRegionId($event)">
                                                <option selected disabled> Select Region</option>
                                                <option *ngFor="let data of selectRegionList" 
                                                    value="{{data.region_code}}">
                                                    {{data.region_name}}
                                               </option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-2" *ngIf="showSchool">
                                            <label class="mb-1"> Select Station</label>
                                            <select class="form-select form-select-sm" formControlName="transferStation"
                                                aria-label="Default select example"
                                                (change)="getKvSchoolByStationId($event)">
                                                <option selected disabled> Select Station</option>
                                                <option *ngFor="let data of stationList; let i=index;"
                                                    value="{{data.station_code}}">
                                                    {{data.station_name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-2" *ngIf="showSchool">
                                            <label class="mb-1"> Select School</label>
                                            <select class="form-select form-select-sm"  formControlName="transferSchool"
                                                aria-label="Default select example" 
                                                (change)="setUdiseCode($event)">
                                                <option selected > Select School</option>
                                                <option *ngFor="let data of kvSchoolList; let i=index;"
                                                    value="{{data.kvName}}({{data.udiseSchCode}})">
                                                    {{data.kvName}}
                                                </option>
                                            </select>
                                        </div>
        
                                        <div class="col-md-4 mb-2" *ngIf="showZiet">
                                            <label class="mb-1"> Select ZIET</label>
                                            <select class="form-select form-select-sm" aria-label="Default select example" formControlName="TransferZiet"  (change)="getStationByHqId($event)">
                                                <option selected disabled> Select ZITE</option>
                                                <option *ngFor="let data of zoneList; let i=index;" value="{{data.kv_code}}">
                                                    {{data.kv_name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 " *ngIf="showHq">
                                            <label class="mb-1"> Select Headquarter</label>
                                            <select class="form-select form-select-sm" aria-label="Default select example" formControlName="TransferHeadquater"  (change)="getStationByHqId($event)" >
                                                <option selected disabled> Select HQ</option>
                                                <option *ngFor="let data of headQuaterList; let i=index;" value="{{data.kv_code}}">
                                                    {{data.kv_name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-2" *ngIf="showCategory">
                                            <label class="mb-1"> Select Transfer Ground</label>
                                            <select class="form-select form-select-sm" formControlName="transferGround"
                                                aria-label="Default select example">
                                                <option selected disabled> Select Category</option>
                                                <option *ngFor="let data of transferGroundValue; let i=index;"
                                                    value="{{data.categoriesId}}">
                                                    {{data.categoriesName}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 mb-2">
                                            <label class="mb-1"> Transfer Order Number</label>
                                            <input type="text"  class="form-control form-control-sm" id="orderno" formControlName="transferOrderNumber" >
                                        </div>
                                        <div class="col-md-4 mb-2">
                                            <label class="mb-1"> Transfer Order date</label>
                                             <input type="date" [max]="maxDate"  class="form-control form-control-sm" (keydown)="disableDate()" formControlName="transferOrderdate" name="transferOrderdate" placeholder="Date">
                                        </div>
                                        <div class="col-md-4 mb-2">
                                            <label class="mb-1"> Transfer Year</label>
                                            <select class="form-select form-select-sm" formControlName="transferYear"
                                                aria-label="Default select example">
                                                <option selected disabled> Select Year</option>
                                                <option  value="2023">2023</option>
                                                <option  value="2024">2024</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 mt-4 " *ngIf="selectHeadQuaterZoneRegion">
                                            <input type="hidden" readonly="true" class="form-control form-control-sm" name="udiseSchoolName" formControlName="TransferRegionZietHq" value="{{kvRegionSchoolZietHqName}}">
                                        </div>
                                    </div>
                                    <div class="p-3" style="text-align: center;">
                                        <input class="mat-raised-button btn-secondary trasnfer-save ms-2" type="submit"
                                            id="submit1" value="Modify Transfer" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <p class="mt-2" style="text-align: left;">
                    <strong style="font-weight: bolder; color: #632765;">Note :</strong> Select school by region and station. 
                </p>
            </div>
            </ng-template>
        </div>
        <div mat-dialog-content>
            <ng-template #AdminMdificationBox let-modal >
                <div class="modal-header">
                    <div class="d-flex justify-content-between w-100">
                        <h1 class="mb-0 " >Employee Transfer Modification </h1>
                        <i class="fa fa-times" (click)="cancelModal()"
                            style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="p-3"  style="min-height: 286px;">
                    <div class="table-responsive">
                        <table class="table table-bordered text-start">
                            <thead>
                                <tr>
                                    <th colspan="4" class="text-start">
                                        Employee Details
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="w-25 text-start"> Employee Name (Code)</th>
                                    <td class="text-start"> {{editModifyEmpName}} ({{editModifyEmpCode}})</td>
                                    <th class="text-start">Email Id </th>
                                    <td class="text-start">{{teacherEmail | uppercase}} </td>
                                </tr>
                                <tr>
                                    <th class="text-start">DOB (dd-mm-yyyy) </th>
                                    <td class="text-start"> {{teacherDob|date:"dd-MM-yyyy"}}</td>
                                    <th class="text-start">Present Region Name </th>
                                    <td class="text-start"> {{PresentRegionName}} </td> 
                                </tr>
                                <tr>
                                    <th class="text-start">Present Station name</th>
                                    <td class="text-start"> {{PresentStationName}}</td>
                                    <th class="text-start">Present School Name (Code) </th>
                                    <td class="text-start"> {{presentKvName}} ({{presentKvCode}})</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered text-start">
                            <thead>
                                <tr>
                                    <th colspan="4" class="text-start">
                                      Transfer Cycle - I Details
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-start" style="width:269px">Allotted Institute Name (Code)</th>
                                    <td class="text-start"  style="width: 426px;"> {{editAllotedModifykvName}} ({{editAllotedModifykvCode}})</td>
                                    <th class="text-start">Joining Date (dd-mm-yyyy) </th>
                                    <td class="text-start"> {{editAllotedModifyJoindate | date:"dd-MM-yyyy"}}</td>
                                </tr>
                                <tr>
                                    <th class="text-start">Relieving Date (dd-mm-yyyy) </th>
                                    <td class="text-start"> {{editAllotedModifyrelivedate | date:"dd-MM-yyyy"}} </td>
                                    <th class="text-start">Transfer Type </th>
                                    <td class="text-start"> {{editeModifyTransferType}} </td>
                                </tr> 
                            </tbody>
                        </table>

                        <table class="table table-bordered text-start" *ngIf="modiFYTransferType=='S' || modiFYTransferType=='AM'">
                            <thead>
                                <tr>
                                    <th colspan="4" class="text-start">
                                     Transfer By Admin transfer
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-start " style="width:269px">Designated Institute Name (Code) </th>
                                    <td class="text-start"> {{ModifykvName}} ({{ModifykvCode}})</td>
                                    <th class="text-start">Joining Date (dd-mm-yyyy)</th>
                                    <td class="text-start"> {{joinDate | date:"dd-MM-yyyy"}}</td>
                                </tr>
                                <tr>
                                    <th class="text-start">Relieving Date (dd-mm-yyyy) </th>
                                    <td class="text-start"> {{reliveDate | date:"dd-MM-yyyy"}} </td>
                                    <th class="text-start">Transfer Type </th>
                                    <td class="text-start"> {{editeAllotedTransferType}} </td>
                                </tr>
                            </tbody>
                        </table>
        
                        <table class="table table-bordered text-start" *ngIf="modiFYTransferType=='' || modiFYTransferType==null || modiFYTransferType==undefined || modiFYTransferType=='A'">
                            <thead>
                                <tr>
                                    <th colspan="4" class="text-start">
                                        Employee Transfer Details
                                    </th>
                                </tr>
                            </thead>
                            <tbody>                            
                                <tr>
                                    <th class="text-start w-50">Transfer To Region/School/ZIET/HQ </th>
                                    <td class="text-start"  style="background: #f5f5dc91; "><b>{{kvRegionSchoolZietHqName}} </b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                <div *ngIf="modiFYTransferType=='' || modiFYTransferType==null || modiFYTransferType==undefined || modiFYTransferType=='A'">
                    <div class="pb-2 mt-2  row  m-0">
                        <label for="staticEmail" class="col-sm-6 col-form-label ps-0">Select Institute Type</label>
                        <div class="col-sm-6">
                            <select class="form-select"   (change)="selectInstituteType($event)"  aria-label="Default select example" id="institute_id">
                                <option selected disabled>Select </option>
                                <option  value="3"> REGION</option>
                                <option  value="1"> SCHOOL</option>
                                <option  value="2"> ZIET</option>
                                <option  value="4"> HQ</option>
                            </select>
                        </div>
                    </div>
                    <div class="card pt-3 mt-3" *ngIf="showTransferEditForm"  >
                        <form [formGroup]="modificationEditForm" (ngSubmit)="submitModificationForm()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="px-3">
                                        <div class="row">
                                            <div class="col-md-4 mb-2" *ngIf="showRegion || showSchool ">
                                                <label class="mb-1"> Select Region</label>
                                                <select class="form-select form-select-sm" formControlName="modifyTransferRegion"
                                                    aria-label="Default select example"
                                                    (change)="getStationByHqId($event);getStationByRegionId($event)">
                                                    <option selected disabled> Select Region</option>
                                                    <option *ngFor="let data of selectRegionList" 
                                                        value="{{data.region_code}}">
                                                        {{data.region_name}}
                                                   </option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 mb-2" *ngIf="showSchool">
                                                <label class="mb-1"> Select Station</label>
                                                <select class="form-select form-select-sm" formControlName="modifyTransferStation"
                                                    aria-label="Default select example"
                                                    (change)="getKvSchoolByStationId($event)">
                                                    <option selected disabled> Select Station</option>
                                                    <option *ngFor="let data of stationList; let i=index;"
                                                        value="{{data.station_code}}">
                                                        {{data.station_name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 mb-2" *ngIf="showSchool">
                                                <label class="mb-1"> Select School</label>
                                                <select class="form-select form-select-sm"  formControlName="modifyTransferSchool"
                                                    aria-label="Default select example" 
                                                    (change)="setUdiseCode($event)">
                                                    <option selected > Select School</option>
                                                    <option *ngFor="let data of kvSchoolList; let i=index;"
                                                        value="{{data.kvName}}({{data.udiseSchCode}})">
                                                        {{data.kvName}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 mb-2" *ngIf="showZiet">
                                                <label class="mb-1"> Select ZIET</label>
                                                <select class="form-select form-select-sm" aria-label="Default select example" formControlName="modifyTransferZiet"  (change)="getStationByHqId($event)">
                                                    <option selected disabled> Select ZITE</option>
                                                    <option *ngFor="let data of zoneList; let i=index;" value="{{data.kv_code}}">
                                                        {{data.kv_name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 " *ngIf="showHq">
                                                <label class="mb-1"> Select HeadQuater</label>
                                                <select class="form-select form-select-sm" aria-label="Default select example" formControlName="modifyTransferHeadquater"  (change)="getStationByHqId($event)" >
                                                    <option selected disabled> Select HQ</option>
                                                    <option *ngFor="let data of headQuaterList; let i=index;" value="{{data.kv_code}}">
                                                        {{data.kv_name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 mb-2" *ngIf="showCategory">
                                                <label class="mb-1"> Select Transfer Ground</label>
                                                <select class="form-select form-select-sm" formControlName="modifyTransferGround"
                                                    aria-label="Default select example">
                                                    <option selected disabled> Select Category</option>
                                                    <option *ngFor="let data of transferGroundValue; let i=index;"
                                                        value="{{data.categoriesId}}">
                                                        {{data.categoriesName}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 mb-2">
                                                <label class="mb-1"> Transfer Order Number</label>
                                                <input type="text"  class="form-control form-control-sm" id="orderno" formControlName="transferOrderNumber" >
                                            </div>
                                            <div class="col-md-4 mb-2">
                                                <label class="mb-1"> Transfer Order date</label>
                                                 <input type="date" [max]="maxDate"  (keydown)="disableDate()"  class="form-control form-control-sm" formControlName="transferOrderdate" name="transferOrderdate" placeholder="Date">
                                            </div>


                                            <div class="col-md-4 mb-2">
                                                <label class="mb-1"> Transfer Year</label>
                                                <select class="form-select form-select-sm" formControlName="transferYear"
                                                    aria-label="Default select example">
                                                    <option selected disabled> Select Year</option>
                                                    <option  value="2023">2023</option>
                                                    <option  value="2024">2024</option>
                                                </select>
                                            </div>


                                            
                                            <div class="col-md-4 mt-4 " *ngIf="selectHeadQuaterZoneRegion">
                                                <input type="hidden" readonly="true" class="form-control form-control-sm" name="udiseSchoolName" formControlName="ModifyTransferRegionZietHq" value="{{kvRegionSchoolZietHqName}}">
                                            </div>
                                        </div>
                                        <div class="p-3" style="text-align: center;">
                                            <input class="mat-raised-button btn-secondary trasnfer-save ms-2" type="submit"
                                                id="submit1" value="Modify Transfer" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <p class="mt-2" style="text-align: left;">
                        <strong style="font-weight: bolder; color: #632765;">Note :</strong> Select school by region and station. 
                    </p>
                    </div>
            </div>
            </ng-template>
        </div>
        <div mat-dialog-content>
            <ng-template #AdminCancelBox let-modal style="min-width: 100%;">
                <div class="modal-header">
                    <div class="d-flex justify-content-between w-100">
                        <h1 class="mb-0 " >Employee Transfer Cancel </h1>
                        <i class="fa fa-times" (click)="cancelModal()"
                            style="font-size: 1.8rem; color: #7e4880; margin-left: 10px;" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="p-3">
                    <div class="table-responsive">
                        <table class="table table-bordered text-start">
                            <thead>
                                <tr>
                                    <th colspan="4" class="text-start">
                                        Employee Details
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="w-25 text-start"> Employee Name (Code)</th>
                                    <td class="text-start"> {{editCancelEmpName}}
                                        ({{editCancelEmpCode}})</td>
                                    <th class="text-start">Email Id </th>
                                    <td class="text-start">{{cancelEmail | uppercase}} </td>
                                </tr>
                                <tr>
                                    <th class="text-start">Present School Name (Code) </th>
                                    <td class="text-start"> {{canclKvName}} ({{cancelkvCode}})</td>
                                    <th class="text-start">DOB (dd-mm-yyyy) </th>
                                    <td class="text-start"> {{canceldob |date:"dd-MM-yyyy"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card pt-3 mt-3" >
                        <form [formGroup]="cancelEditForm" (ngSubmit)="submitcancelForm()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="px-3">
                                        <div class="row">
                                            <div class="col-md-6 mb-2">
                                                <label  class="col-sm-6 col-form-label ps-0"> Cancel Transfer Order Number</label>
                                                <input type="text"  class="form-control form-control-sm" id="cancelorderno" formControlName="cancelTransferOrderNumber" >
                                            </div>
                                            <div class="col-md-6 mb-2">
                                                <label  class="col-sm-6 col-form-label ps-0"> Cancel Transfer Order date</label>
                                                <input type="date"  class="form-control form-control-sm" (keydown)="disableDate()" [max]="maxDate" formControlName="cancelTransferOrderdate" name="cancelTransferOrderdate" placeholder="Date">
                                            </div>
                                       </div>
                                        <div class="p-3" style="text-align: center;">
                                <input class="mat-raised-button btn-secondary trasnfer-save ms-2" type="submit"
                            id="submit1" value="Cancel Transfer" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> 
            </div>
            </ng-template>
        </div>
    </div>
</div>