
  .mat-header-row {
    background-color: #E5EEFF;
   
}
.mat-header-cell {
    background-color: #E5EEFF;
    color: #353535 !important;
    font-weight: 600 !important;
    font-size: 13px;
    font-family: 'PoppinsRegular';
}
.trasnfer-save{
    color: #fff;
    position: relative;
    border-radius: 4px;
    font-size: 14px;
     background: #632765; 
    height: 34px !important;
    line-height: normal;
    border: none;
  
  }

  .trasnfer-cancel{
    color: #fff;
    position: relative;
    border-radius: 4px;
    font-size: 14px;
     background: #c92b2b; 
    height: 34px !important;
    line-height: normal;
    border: none;
  }
  .trasnfer-save:disabled {
    color: #fff;
    position: relative;
    border-radius: 4px;
    font-size: 14px;
    background: #996a9a;
    height: 34px;
    line-height: normal;
    border: none;
}

.table tr:nth-child(even) {
  background: none; 
}

    .nav-tabs {border-bottom: none;}
    .nav-tabs li {min-width: 200px;}
    .nav-tabs li button {width: 100%;}
    .nav-tabs li .nav-link{background-color: #fff; color: #333; border: #ccc;}

.dashboard-main-content-info{ border-top-left-radius:0 !important}
  .mat-focus-indicator {position: absolute; top:12px}


::ng-deep .mat-header-cell{background-color:#E5EEFF ; color: #353535; font-weight: 600 !important; font-size: 15px; font-family: 'PoppinsRegular';}


.mat-column-Sno {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
}
.mat-column-Action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
}
    .myClass{
      border: solid 0.2px #542555 !important;;
      background-color: #4A1C4B !important;;
      color: white !important;;
    }