<div class="dashboard-main-content" style="min-height: 600px;">
    <div class="dashboard-main-content__header">
        <h1 class="mb-1">School/Institution Master</h1>
      </div>
      <nav aria-label="breadcrumb" class="mt-1">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">{{(isEdit)?'Edit ':'Add'}}</a></li>
            <li class="breadcrumb-item"><a href="#">School/Institution Master</a></li>
          </ol>
        </nav>
<div class="dashboard-main-content-info">
<div class="cardSet50 ">
    <form [formGroup]="schoolForm" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <!-- <div class=" headingBack mb-4">
                        <span class="fonttileHeading">{{(isEdit)?'Edit School/Institution Master':'Add New School/Institution Master'}}</span>
                    </div> -->

                    <div class=" prof-fields bg-white shadow p-4 rounded-3">
                        <div class="row">
                            <div class="col-md-4 form-group my-2">
                                <label class="titleSet">School Code</label>
                                <input type="text" formControlName="schoolCode" class="form-control" maxlength="4">
                                <!-- <span class="help-block text-danger"
                                    *ngIf="!schoolForm.get('schoolCode').valid && schoolForm.get('schoolCode').touched">Please Enter School Code !</span> -->
                                <mat-error *ngIf="isSubmitted && errorHandling('schoolCode', 'required')">
                                    Please Enter School Code!
                                </mat-error>
                                <mat-error *ngIf="isSubmitted && errorHandling('schoolCode','pattern')">Please Enter Valid School Code.(4 digit number)
                                </mat-error>
                            </div>
                            <div class="col-md-4 form-group my-2">
                                <label class="titleSet">School Name</label>
                                <input type="text" formControlName="schoolName" class="form-control" maxlength="50">
                                <!-- <span class="help-block text-danger"
                                    *ngIf="!schoolForm.get('schoolName').valid && schoolForm.get('schoolName').touched">Please Enter School Name !</span> -->
                                <mat-error *ngIf="isSubmitted && errorHandling('schoolName', 'required')">
                                    Please Enter School Name!
                                </mat-error>
                                <mat-error *ngIf="isSubmitted && errorHandling('schoolName', 'minlength')">
                                    Please Enter Minimum 3 characters word for School Name!
                                </mat-error>
                                <mat-error *ngIf="isSubmitted && errorHandling('schoolName','textField')">Pleae Enter a Valid Name!(Only dot, white space,() & numbers are allowed.)
                                </mat-error>
                            </div>



                            <div class="col-md-4 form-group my-2 ">
                                <!-- <mat-form-field style="width: 100%;"> -->
                                <label class="titleSet">Select Status</label>
                                <mat-select formControlName="status" class="form-control">
                                    <mat-option value="">Select Status</mat-option>
                                    <mat-option *ngFor="let status of statusList" [value]="status.value">{{status.status}}</mat-option>
                                </mat-select>

                                <!-- </mat-form-field> -->
                                <mat-error *ngIf="isSubmitted && errorHandling('status', 'required')">
                                    Please select the status!
                                </mat-error>
                                <!-- <span class="help-block text-danger"
                                *ngIf="!regionForm.get('status').valid && regionForm.get('status').touched">Please select the status!</span> -->
                            </div>
                            <div class="col-md-4 form-group my-2 ">
                                <label class="titleSet">Select Shift</label><br>
                                <!-- <mat-select formControlName="shift" class="form-control">
                                    <mat-option *ngFor="let shift of shiftList" [value]="shift.value">{{shift.type}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="isSubmitted && errorHandling('status', 'required')">
                                    Please select the status!
                                </mat-error> -->

                         
                                <div class="mt-1">
                                    <mat-radio-group formControlName="shift">
                                        <mat-radio-button [value]="shift.value" style="padding: 5px;" *ngFor="let shift of shiftList">{{shift.type}}</mat-radio-button>
                                        <!-- <mat-radio-button value="2">Second Shift</mat-radio-button> -->
                                    </mat-radio-group>
                                    <mat-error *ngIf="isSubmitted && errorHandling('shift', 'required')">
                                        Please select the shift!
                                    </mat-error>
                                </div>


                            </div>

                            <div class="col-md-4 form-group my-2 ">
                                <label class="titleSet">Address</label><br>
                                <textarea type="text" formControlName="schoolAddress" class="form-control"></textarea>
                                <mat-error *ngIf="isSubmitted && errorHandling('schoolAddress', 'required')">
                                    Please provide address!
                                </mat-error>
                            </div>

                            <div class="mt-2 " style="text-align: center;">
                                <button type="submit" class="btn btn-success mt-2">{{isEdit?'Update ':'Add School'}}</button>&nbsp;&nbsp;
                                <button type="button" *ngIf="!isEdit" class="btn btn-primary mt-2" (click)="clear()">Clear</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary mt-2" (click)="redirectToList()">Cancel</button>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </form>
    </div>
</div>
</div>