 
  table {
    width: 100%;
  }
  th.mat-header-cell:first-of-type{
    padding-left: 8px;
    text-align: center;
  }
  th.mat-header-cell{
    padding-left: 24px;
  }
  td.mat-cell{
    padding-left: 24px;
  }
  .mat_label{
      font-weight: 500;
  }
  .dashboard-main-content-info {
    background-color: white;
    padding: 20px !important;
    border-radius: 10px;
    box-shadow: 0 3px 6px #272d3b1c;
}