<div class="dashboard-main-content" style="min-height: 600px;">
    <div class="dashboard-main-content__header">
      <h1>School-Station Mapping</h1>
    </div>
    <nav aria-label="breadcrumb" class="mt-1">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Home</a></li>
          <li class="breadcrumb-item"><a>Add</a></li>
          <li class="breadcrumb-item"><a>School-Station Mapping</a></li>
        </ol>
      </nav>


<div class="dashboard-main-content-info p-5">
<div class="container-fluid px-4">
    <form [formGroup]="schoolStationMForm" (ngSubmit)="submit()">

        <div class="row">
            <div class="col-md-12">
                <div class="card mt-83">
                    <div class=" bg-profile-head">
                        <h5 class="mb-0 p-2 FontTitle  text-white">School-Station Mapping</h5>
                    </div>

                    <div class="m-3 prof-fields">
                        <div class="row">

                            <div class="col-md-6 form-group">
                                <label class="titleSet">Select Station</label>
                                <ng-multiselect-dropdown #multiStation [placeholder]="'Select Station'" [settings]="dropdownStationSettings" [data]="dropdownStationList" [(ngModel)]="selectedStationItems" formControlName="stationCode">
                                </ng-multiselect-dropdown>
                                <span class="help-block text-danger" *ngIf="!schoolStationMForm.get('stationCode').valid && schoolStationMForm.get('stationCode').touched">Please Enter Station!</span>

                            </div>
                            <div class="col-md-6 form-group">
                                <label class="titleSet">Select School<span class="required-asterisk">*</span></label>
                                <ng-multiselect-dropdown [placeholder]="'Select School'" [settings]="dropdownSchoolSettings" [data]="dropdownSchoolList" [(ngModel)]="selectedSchoolItems" formControlName="schoolCode">
                                </ng-multiselect-dropdown>
                                <span *ngIf="schoolStaionMapped">All School has been Mapped</span>
                                <span class="help-block text-danger" *ngIf="!schoolStationMForm.get('schoolCode').valid && schoolStationMForm.get('schoolCode').touched">Please Enter Region!</span>
                            </div>
                            <div class="col-md-6 form-group mt-2">
                                <label class="titleSet">From Dates<span class="required-asterisk">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <mat-datepicker-toggle mdSuffix [for]="pickers"></mat-datepicker-toggle>
                                        <mat-datepicker #pickers></mat-datepicker>
                                    </div>
                                    <input class="form-control" id="wordStartDate" [matDatepicker]="pickers" placeholder="From Date(DD/MM/YYYY)" (click)="pickers.open()" (dateChange)="checkDatelieBeetwenFromTo($event,1)"  formControlName="fromDate">
                                </div>
                                <span class="help-block text-danger"  *ngIf="!schoolStationMForm.get('fromDate').valid && schoolStationMForm.get('fromDate').touched">Please Select From Date!</span>

                            </div>
                            <div class="col-md-6 form-group mt-2" *ngIf="showTodate">
                                <label class="titleSet">To Date</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <mat-datepicker-toggle mdSuffix [for]="pickers1"></mat-datepicker-toggle>
                                        <mat-datepicker #pickers1></mat-datepicker>
                                    </div>
                                    <input class="form-control"  id="wordEndDate" [matDatepicker]="pickers1" placeholder="To Date(DD/MM/YYYY)" [max]="currentDate()" formControlName="toDate"  (dateChange)="checkDatelieBeetwenFromTo($event,2)"[min]="schoolStationMForm.get('fromDate').value" (click)="pickers1.open()">
                                </div>
                                <span class="help-block text-danger"  *ngIf="!schoolStationMForm.get('toDate').valid && schoolStationMForm.get('toDate').touched">Please Select To Date!</span>

                            </div>
                            <div class="col-md-6 form-group mt-3">
                                <mat-form-field style="width: 100%;">
                                    <mat-label class="mat_lable">Select Status<span class="required-asterisk">*</span></mat-label>
                                    <mat-select formControlName="status">
                                        <mat-option>Select Status</mat-option>
                                        <mat-option *ngFor="let status of statusList" [value]="status.value">{{status.status}}</mat-option>
                                    </mat-select>
                                    <!-- <mat-error *ngIf="isSubmitted && errorHandling('status', 'required')">
                                   Please select the Status.
                                </mat-error> -->
                                </mat-form-field>
                                <span class="help-block text-danger" *ngIf="!schoolStationMForm.get('status').valid && schoolStationMForm.get('status').touched">Please select the status!</span>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary mt-2">Submit</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary mt-2" (click)="clear()">Clear</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary mt-2" (click)="redirectToList()">Cancel</button>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </form>
</div>


<div  class="shadow-sm bg-white p-3 rounded ">   
    <div class="row">
        <div class="col-md-6">

          <!-- <button mat-raised-button class=" me-2 btn-primary">Download Excel</button>
          <button mat-raised-button class="me-2 btn-secondary">Download PDF</button> -->

        </div>  
        <div class="col-md-6" style="
        text-align: end;">
          <div class="example-header">
            <mat-form-field appearance="outline" class=" searchInput me-4">
                <input matInput (keyup)="applyFilterHBSource($event.target.value)" placeholder="Search">
             
            </mat-form-field>      
        </div>
        </div>     
    </div>
    <div class="example-container mat-elevation-z8 " id="style-2">
        <mat-table [dataSource]="userMappingSource" >
            <ng-container matColumnDef="Sno">
                <mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </mat-header-cell>
                <mat-cell *matCellDef="let row"><span class="mobile-label"></span> {{row.sno}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="Station Name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Station Name </mat-header-cell>
              <mat-cell *matCellDef="let row"><span class="mobile-label"> </span> {{row.station_name}}
              </mat-cell>
          </ng-container>

            <ng-container matColumnDef="School Name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>School Name </mat-header-cell>
                <mat-cell *matCellDef="let row"><span class="mobile-label"> </span> {{row.school_name}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="From date">
                <mat-header-cell *matHeaderCellDef mat-sort-header> From date </mat-header-cell>
                <mat-cell *matCellDef="let row"><span class="mobile-label"></span> {{row.from_date | date: 'dd-MM-yyyy'}}
                </mat-cell>
            </ng-container>
      

            <ng-container matColumnDef="To Date">
                <mat-header-cell *matHeaderCellDef mat-sort-header> To Date</mat-header-cell>
                <mat-cell *matCellDef="let row"><span class="mobile-label"></span> {{row.to_date | date: 'dd-MM-yyyy' }}
                </mat-cell>
          </ng-container>
          
                           
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true; "></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
</div>
</div>
</div>