table {
    width: 100%;
  }
  th.mat-header-cell:first-of-type{
    padding-left: 8px;
    text-align: center;
  }
  th.mat-header-cell{
    padding-left: 54px;
  }
  td.mat-cell{
    padding-left: 54px;
  }
  .mat_label{
      font-weight: 500;
  }
  .mat-header-cell {
    background-color: #E5EEFF;
    color: #353535 !important;
    font-weight: 600 !important;
    font-size: 15px;
    font-family: 'PoppinsRegular';
}