.dropdown-list input[type="checkbox"]+div:before {
    display: none;
    }
    
    .dropdown-list  input[type="checkbox"]+div:after {
    display: none;
    }
    
    .dropdown-list input[type="checkbox"]+div {
    padding: 6px 10px !important;
    }
    .dropdown-list  input[type="checkbox"]:checked+div {
    background-color: #337ab7 !important;
    color: #fff !important;
    }
    .required-asterisk{
        color: red;
      }
      .mat-header-row {
        background-color: #E5EEFF !important;
        color: #353535 !important;
        font-weight: 600 !important;
        font-size: 15px !important;
        font-family: 'PoppinsRegular' !important;
      }