<div class="dashboard-main-content" style="min-height: 600px;">
    <div class="dashboard-main-content__header">
        <h1 class="mb-1">Dashboard</h1>
    </div>
    <nav aria-label="breadcrumb" class="mt-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a >Home</a></li>
            <li class="breadcrumb-item"><a>dashboard</a></li>
        </ol>
    </nav>
 
    <!-- <div class="shadow-sm bg-white border-3" style="margin-bottom: 9px; border-radius: 7px;" >
        <ul class="stationUL">
            <li>
                <h3>Region Name :
                    <span class="StationValue">eerere </span>
                </h3>
            </li>
            <li>
                <h3>Address :
                    <span class="StationValue">545454</span>
                </h3>
            </li>
            <li>
                <h3>Controlling Officer :
                    <span class="StationValue">dfdfd</span>
                </h3>
            </li>
            <li>
                <h3>Email :
                    <span class="StationValue">6656</span>
                </h3>
            </li>
            <li>
                <h3>Mobile :
                    <span class="StationValue">5454</span>
                </h3>
            </li>
        </ul>
    </div> -->
    <div class="shadow-sm bg-white border-3" style="margin-bottom: 9px; border-radius: 7px;" *ngIf="businessUnitTypeId=='2'">
        <ul class="stationUL">
            <li>
                <h3>Total Regions  :
                    <span class="StationValue">545454</span>
                </h3>
            </li>
            <li>
                <h3>Total Ziets :
                    <span class="StationValue">5454</span>
                </h3>
            </li>
        </ul>
    </div>
    <div class="dashboard-main-content-info p-5">
        <div class="row">
            <div class="col-md-6 w100">
                <div class="card themed-card p-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="left d-flex align-items-center w-50">
                                <img src="assets/img/card-logo.svg" class="img-fluid">
                                <h2 class="text-white ms-2 card-title">{{dashboardDetails?.kvName}} <span class="d-block card-desc">{{dashboardDetails?.stationName}}</span></h2>
                            </div>
                            <div class="right w-50">
                                <h2 class="text-white card-title">KV/RO/ZIET/HQ - Code<span class="d-block card-desc">{{dashboardDetails?.kvCode}}</span></h2>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <h2 class="text-white card-title w-50">Region Name (Code) <span class="d-block card-desc">{{dashboardDetails?.regionName}}({{dashboardDetails?.regionCode}})</span></h2>
                            <h2 class="text-white card-title w-50">Station Name (Code) <span class="d-block card-desc">{{dashboardDetails?.stationName}}({{dashboardDetails?.stationCode}})</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w100">
                <div class="card themed-card p-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="left d-flex align-items-center w-50">
                                <h2 class="text-white ms-0 card-title">Controlling Officer <span class="d-block card-desc">{{dashboardDetails?.employeeName}}</span></h2>
                            </div>
                            <div class="right w-50">
                                <h2 class="text-white card-title">Email <span class="d-block card-desc">{{dashboardDetails?.teacherEmail}}</span></h2>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <h2 class="text-white card-title w-50">Mobile  <span class="d-block card-desc">{{dashboardDetails?.teacherMobile}}</span></h2>
                            <h2 class="text-white card-title w-50">Address<span class="d-block card-desc">{{dashboardDetails?.schoolAddress}}</span></h2>
                        </div>
                    </div>
                </div>
            </div>
</div>

<div class="row mt-3">
    <div class="col-md-6">
        <ul class="">
            <li class="card p-3 rounded-3 ">
                <h2 class="TolTeacherValue mb-0 card-text-color text-center ">Total Staff</h2>
                <div class="row mt-0">
                    <div class="row ">
                        <div class="col-6 ">
                            <div class="row ">
                                <h2 class="TolTeacherValue mb-2 card-text-color text-center border-end border-top border-bottom ">Teaching</h2>
                                <div class="col-4 text-center border-end">
                                    <h4 class="Verified mb-0 card-text-color">Male </h4>
                                    <h2 class="mt-4">{{dashboardDetails?.teachingMale === null ?'0':dashboardDetails?.teachingMale}}</h2>
                                </div>
                                <div class="col-4 text-center border-end">
                                    <h4 class="Verified mb-0 card-text-color">Female </h4>
                                    <h2 class="mt-4">{{dashboardDetails?.teachingFemale === null ?'0':dashboardDetails?.teachingFemale}}</h2>
                                </div>
                                <div class="col-4 text-center border-end">
                                    <h4 class="Verified mb-0 card-text-color">Total</h4>
                                    <h2 class="mt-4">{{teachingMaleFemaleTotal}}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row ">
                                <h2 class="TolTeacherValue mb-2 card-text-color text-center  border-top border-bottom  ">Non-Teaching</h2>
                                <div class="col-4 text-center border-end">
                                    <h4 class="Verified mb-0 card-text-color">Male </h4>
                                    <h2 class="mt-4">{{dashboardDetails?.nonTeachingMale === null ?'0':dashboardDetails?.nonTeachingMale}}</h2>
                                </div>
                                <div class="col-4 text-center border-end">
                                    <h4 class="Verified mb-0 card-text-color">Female </h4>
                                    <h2 class="mt-4">{{dashboardDetails?.nonTeachingFeMale === null ?'0':dashboardDetails?.nonTeachingFeMale}}</h2>
                                </div>
                                <div class="col-4 text-center ">
                                    <h4 class="Verified mb-0 card-text-color">Total </h4>
                                    <h2 class="mt-4">{{nonTeachingMaleFemaleTotal}}</h2>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="pattern">
                    <i class='bx bx-user-circle imgRotate'></i>
                </div>
            </li>
    
        </ul>
    </div>
<div class="col-md-6">
    <ul>
    <li class="card p-4  rounded-3" style="
    height: 204px;
">
        <div>
            <div class=" d-flex align-items-center justify-content-center">
                <div class="flex-grow-1">
                    <h3 class="mb-0 blue-text TotalTeachingStaff">Notification: </h3>
                    <h3 class="TolTeacherValue  line-space mt-4"></h3>
                    
                </div>
            </div>
        </div>
    </li>
</ul> 
</div>



</div>

<div class="row mt-3">
    <div class="col-md-12">
        <ul class="SchoolStatus " style="width: 123%;">
            <li>
                <div>
                    <img src="assets/assets/img/total-staff.png" class="mb-2" />
                    <h4 class="font26589 mb-1">Total Staff</h4>
                    <h2 class="font64989985 mb-0">{{totalTeachers}}</h2>
                </div>
            </li>
            <li>
                <div>
                    <img src="assets/assets/img/verified-staff.png" class="mb-2" />
                    <h4 class="font26589 mb-1">Verified Staff </h4>
                    <h2 class="font64989985 mb-0">{{verifiedCOunt}}</h2>
                </div>
            </li>
            <li>
                <div>
                    <img src="assets/assets/img/pending-school.png" class="mb-2" />
                    <h4 class="font26589 mb-1">Pending at School </h4>
                    <h2 class="font64989985 mb-0">{{schoolPendingCount}}</h2>
                </div>
            </li>
            <li>
                <div>
                    <img src="assets/assets/img/pending-staff.png" class="mb-2" />
                    <h4 class="font26589 mb-1">Pending at Staff</h4>
                    <h2 class="font64989985 mb-0">{{teacherPendingCount}}</h2>
                </div>
            </li>
            <li>
                <div>
                    <img src="assets/assets/img/initiated-school.png" class="mb-2" />
                    <h4 class="font26589 mb-1">Initiated by School </h4>
                    <h2 class="font64989985 mb-0">{{schoolInitiated}}</h2>
                </div>
            </li>
            <!-- <li>
                <div>
                    <img src="assets/assets/img/not-initiated.png" class="mb-2" />
                    <h4 class="font26589 mb-1">Not Initiated</h4>
                    <h2 class="font64989985 mb-0">{{notInitiatedCount}}</h2>
                </div>
            </li> -->
        </ul>
    </div>

</div>   
    <!-- <ul class="display-inline mt-3">
        <li class="card p-4 rounded-3 ">
            <h2 class="TolTeacherValue mb-2  card-text-color text-center">Station Type</h2>
            <div class="row ">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Station Type</th>
                            <th>Teaching</th>
                            <th>Non Teaching</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <th>Normal</th>
                            <td>priority</td>
                            <td>Peter</td>
                            <td>John</td>
                        </tr>
                        <tr>
                            <th>priority</th>
                            <td>Hard Station</td>
                            <td>Parker</td>
                            <td>Rambo</td>
                        </tr>
                        <tr>
                            <th>Hard Station</th>
                            <td>Very Hard</td>
                            <td>peterparker@mail.com</td>
                            <td>johnrambo@mail.com</td>
                        </tr>
                        <tr>
                            <th>Very Hard </th>
                            <td>Very Hard</td>
                            <td>peterparker@mail.com</td>
                            <td>johnrambo@mail.com</td>
                        </tr>
                       
                    </tbody>
                </table>

            </div>
            <div class="pattern">
                <i class='bx bx-user-circle imgRotate'></i>
            </div>
        </li>
        <li class="card p-4  rounded-3">
            <div>
                <div class=" d-flex align-items-center justify-content-center">
                    <div class="flex-grow-1">
                        <h3 class="mb-0 blue-text TotalTeachingStaff">Transfer Details: </h3>
                        <h3 class="TolTeacherValue  line-space mt-4">(1). No of Employees Eligible for Transfer :</h3>
                        <h3 class="TolTeacherValue  line-space ">(2). No. of Employees participation in the Transfer Cycle:</h3>
                        <h3 class="TolTeacherValue  line-space ">(3). No. of Employees submitted Transfer Application:</h3>
                        <h3 class="TolTeacherValue  line-space">(4). No. of Employees Transferred :</h3>
                        <h3 class="TolTeacherValue  line-space ">(5). No. of Employees Transfer order Halted:</h3>
                        <h3 class="TolTeacherValue  line-space">(6). No. of Employees Transferred on Administrative ground:
                        </h3>
                    </div>
                </div>
            </div>
        </li>
    </ul> -->
</div>
</div>
<!--close dashboard-main-content-->