<div class="dashboard-main-content" style="min-height: 600px;">
    <div class="dashboard-main-content__header">
        <h1 class="mb-1">Dashboard</h1>
    </div>
    <nav aria-label="breadcrumb" class="mt-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a >Home</a></li>
            <li class="breadcrumb-item"><a>Dashboard</a></li>
        </ol>
    </nav>
 
    <!-- <div class="shadow-sm bg-white border-3" style="margin-bottom: 9px; border-radius: 7px;" >
        <ul class="stationUL">
            <li>
                <h3>Region Name :
                    <span class="StationValue">eerere </span>
                </h3>
            </li>
            <li>
                <h3>Address :
                    <span class="StationValue">545454</span>
                </h3>
            </li>
            <li>
                <h3>Controlling Officer :
                    <span class="StationValue">dfdfd</span>
                </h3>
            </li>
            <li>
                <h3>Email :
                    <span class="StationValue">6656</span>
                </h3>
            </li>
            <li>
                <h3>Mobile :
                    <span class="StationValue">5454</span>
                </h3>
            </li>
        </ul>
    </div> -->
    <div class="shadow-sm bg-white border-3" style="margin-bottom: 9px; border-radius: 7px;" *ngIf="businessUnitTypeId=='2'">
        <ul class="stationUL">
            <li>
                <h3>Total Regions  :
                    <span class="StationValue">545454</span>
                </h3>
            </li>
            <li>
                <h3>Total Ziets :
                    <span class="StationValue">5454</span>
                </h3>
            </li>
        </ul>
    </div>
    <div class="">
        <div class="row">
            <div class="col-md-12 w100">
       
                <div class="card themed-card p-3 mb-3  controlling-mob">

                    <div class="left d-flex align-items-center w-100 border-bottom pb-1 mb-3">
                        <img src="assets/img/card-logo.svg" class="img-fluid" style="top: -10px; position: relative;">
                        <h2 class="text-white ms-2 card-title mb-1"><strong>{{dashboardDetails?.kvName}}</strong> ({{dashboardDetails?.kvCode}}) <span class="d-block card-desc">{{dashboardDetails?.stationName}} ({{dashboardDetails?.stationCode}}) </span>  </h2>
                    </div>

                    <div class="row">
                        <!-- <div class="col-sm-3">
                            <h2 class="text-white card-title">KV/RO/ZIET/HQ - Code<span class="d-block card-desc">{{dashboardDetails?.kvCode}}</span></h2>
                        </div> -->

                        <!-- <div class="col-sm-3">
                            <h2 class="text-white card-title">Region Name (Code) <span class="d-block card-desc">{{dashboardDetails?.regionName}}({{dashboardDetails?.regionCode}})</span></h2>
                        </div> -->

                        <div class="col-sm-2">
                            <h2 class="text-white card-title">Region Name (Code) <span class="d-block card-desc">{{dashboardDetails?.regionName}}({{dashboardDetails?.regionCode}})</span></h2>
                        </div>

                        <div class="col-sm-2">
                            <h2 class="text-white card-title ">Address<span class="d-block card-desc">{{dashboardDetails?.schoolAddress}}</span></h2>
                         
                        </div>

                        <!-- <div class="col-sm-3">
                            <h2 class="text-white card-title">Station Name (Code) <span class="d-block card-desc">{{dashboardDetails?.stationName}}({{dashboardDetails?.stationCode}})</span></h2>
                        </div> -->

                        <div class="col-sm-3">
                            <h2 class="text-white ms-0 me-2 card-title">Controlling Officer <span class="d-block card-desc">{{dashboardDetails?.employeeName}}</span></h2>
                        </div>

                        <div class="col-sm-3">
                            <h2 class="text-white card-title ">Email <span class="d-block card-desc">{{dashboardDetails?.teacherEmail}}</span></h2>
                         
                        </div>

                        <div class="col-sm-2">
                            <h2 class="text-white card-title me-2">Mobile  <span class="d-block card-desc">{{dashboardDetails?.teacherMobile}}</span></h2>
                         
                        </div>

                      

                    </div>

                </div>
            </div>
    
</div>

<div class="row mt-3">
    <div class=" dashboard-main-content__header mb-2"><h1 class="TolTeacherValue  ">Total Staff</h1></div>
        
    <div class="col-md-9">
      
        <ul class="">
            <li class="card p-3 rounded-3 mb-3">
        
                    <div class="row ">
                        <div class="col-sm-6 mb-3">
                            <div class="table-responsive">
                            <table class="table1 table-bordered">
                                <thead>
                                    <tr>
                                        
                                        <th *ngIf="teachingNoGenderYN" colspan="4" style="background:#945197; color: #fff;   ">Teaching</th>
                                        <th *ngIf="!teachingNoGenderYN" colspan="3" style="background:#945197; color: #fff;   ">Teaching</th>
                                    </tr>
                                    <tr rowspan="2">
                                        <th>Male</th>
                                        <th>Female</th>
                                        <th  *ngIf="teachingNoGenderYN">Unspecified</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                              
                                <tr>
                                    <td><span>{{dashboardDetails?.teachingMale === null ?'0':dashboardDetails?.teachingMale}}</span></td>
                                    <td><span>{{dashboardDetails?.teachingFemale === null ?'0':dashboardDetails?.teachingFemale}}</span></td>
                                    <td  *ngIf="teachingNoGenderYN"><span>{{teachingNoGender}}</span></td>
                                    <td><span>{{teachingMaleFemaleTotal}}</span></td>
                                </tr>
                                
                            </table>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="table-responsive">
                            <table class="table1 table-bordered">
                                <thead> 
                                    <tr>
                                        <th  *ngIf="nonteachingNoGenderYN" colspan="4" style="background:#97516a; color: #fff;   " >Non-Teaching</th>
                                        <th  *ngIf="!nonteachingNoGenderYN" colspan="3" style="background:#97516a; color: #fff;   " >Non-Teaching</th>
                                    </tr>
                                    <tr rowspan="2">
                                        <th class="td-bg">Male</th>
                                        <th class="td-bg">Female</th>
                                        <th  *ngIf="nonteachingNoGenderYN"class="td-bg">Unspecified</th>
                                        <th class="td-bg">Total</th>
                                    </tr>
                                </thead>
                              
                                <tr>
                                    <td><span class="text-color">{{dashboardDetails?.nonTeachingMale === null ?'0':dashboardDetails?.nonTeachingMale}}</span></td>
                                    <td><span class="text-color">{{dashboardDetails?.nonTeachingFeMale === null ?'0':dashboardDetails?.nonTeachingFeMale}}</span></td>
                                    <td *ngIf="nonteachingNoGenderYN" ><span>{{nonteachingNoGender}}</span></td>
                                    <td><span class="text-color">{{nonTeachingMaleFemaleTotal}}</span></td>
                                </tr>
                                
                            </table>
                            </div>
                        </div>
           
                      
                    </div>
            
               
            </li>
    
        </ul>
    </div>
<div class="col-md-3">
 
  <div class="card p-3">
    <div class="table-responsive">
    <table class="table1 table-bordered">
      <thead> 
        <tr>
            <th colspan="3" style="background:#f7f3d9; color: #000;   ">Ticket Notification</th>
            
        </tr>
        <tr rowspan="2">
     
            <th style="background: #f9e5bf;">In Process</th>
            <th style="background:#afebbd;">Resolved</th>
            <!-- <th style="background:#f9bfbf;">Rejected</th> -->
        </tr>
    </thead> 
        <tr>
            <td><span  style="background:  #f9e5bf; color:#f9e5bf"><a routerLinkActive="active" routerLink="/teacher/kvsTicket">  {{dashboardDetails?.inprogresTicket}}</a></span></td>
            <td><span  style="background: #afebbd; color:#afebbd"><a routerLinkActive="active" routerLink="/teacher/kvsTicket"> {{dashboardDetails?.resolveTicket}}</a></span></td>
            <!-- <td><span  style="background: #afebbd; color:#f9bfbf"><a routerLinkActive="active" routerLink="/teacher/kvsTicket"> {{dashboardDetails?.rejectTicket}}</a></span></td> -->
        </tr>
    </table>
</div>
  </div>
</div>



</div>

<div class="row mt-3">
    <div class="col-md-12 d-flex justify-content-center">
        <ul class="SchoolStatus w-100 text-center">
            <li>
                <div>
                    <img src="assets/assets/img/total-staff.png" class="mb-2" />
                    <h4 class="font26589 mb-1">Total Staff</h4>
                    <h2 class="font64989985 mb-0">{{dashboardDetails?.totalNoOfEmployee}}</h2>
                </div>
            </li>
            <li >
                <div>
                    <img src="assets/assets/img/verified-staff.png" class="mb-2" />
                    <h4 class="font26589 mb-1">Verified Staff </h4>
                    <h2 class="font64989985 mb-0">{{dashboardDetails?.noOfTeacherApprove}}</h2>
                </div>
            </li>
            <li >
                <div>
                    <img src="assets/assets/img/not-verified-staff.png" class="mb-2" />
                    <h4 class="font26589 mb-1">Not Verified Staff </h4>
                    <h2 class="font64989985 mb-0">{{dashboardDetails?.noOfTeacherPending}}</h2>
                </div>
            </li>
            <!-- <li >
                <div>
                    <img src="assets/assets/img/employee-relieving-pending.png" class="mb-2" />
                    <h4 class="font26589 mb-1">Employee Relieving Pending</h4>
                    <h2 class="font64989985 mb-0">{{dashboardDetails?.noOfTransferReleavingPending}}</h2>
                </div>
            </li>
            <li >
                <div>
                    <img src="assets/assets/img/employee-joining-staff.png" class="mb-2" />
                    <h4 class="font26589 mb-1">Employee Joining Pending </h4>
                    <h2 class="font64989985 mb-0">{{dashboardDetails?.noOfTransferJoiningPending}}</h2>
                </div>
            </li> -->
            <!-- <li>
                <div>
                    <img src="assets/assets/img/not-initiated.png" class="mb-2" />
                    <h4 class="font26589 mb-1">Not Initiated</h4>
                    <h2 class="font64989985 mb-0">{{notInitiatedCount}}</h2>
                </div>
            </li> -->
        </ul>
    </div>

</div>   
    <!-- <ul class="display-inline mt-3">
        <li class="card p-4 rounded-3 ">
            <h2 class="TolTeacherValue mb-2  card-text-color text-center">Station Type</h2>
            <div class="row ">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Station Type</th>
                            <th>Teaching</th>
                            <th>Non Teaching</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <th>Normal</th>
                            <td>priority</td>
                            <td>Peter</td>
                            <td>John</td>
                        </tr>
                        <tr>
                            <th>priority</th>
                            <td>Hard Station</td>
                            <td>Parker</td>
                            <td>Rambo</td>
                        </tr>
                        <tr>
                            <th>Hard Station</th>
                            <td>Very Hard</td>
                            <td>peterparker@mail.com</td>
                            <td>johnrambo@mail.com</td>
                        </tr>
                        <tr>
                            <th>Very Hard </th>
                            <td>Very Hard</td>
                            <td>peterparker@mail.com</td>
                            <td>johnrambo@mail.com</td>
                        </tr>
                       
                    </tbody>
                </table>

            </div>
            <div class="pattern">
                <i class='bx bx-user-circle imgRotate'></i>
            </div>
        </li>
        <li class="card p-4  rounded-3">
            <div>
                <div class=" d-flex align-items-center justify-content-center">
                    <div class="flex-grow-1">
                        <h3 class="mb-0 blue-text TotalTeachingStaff">Transfer Details: </h3>
                        <h3 class="TolTeacherValue  line-space mt-4">(1). No of Employees Eligible for Transfer :</h3>
                        <h3 class="TolTeacherValue  line-space ">(2). No. of Employees participation in the Transfer Cycle:</h3>
                        <h3 class="TolTeacherValue  line-space ">(3). No. of Employees submitted Transfer Application:</h3>
                        <h3 class="TolTeacherValue  line-space">(4). No. of Employees Transferred :</h3>
                        <h3 class="TolTeacherValue  line-space ">(5). No. of Employees Transfer order Halted:</h3>
                        <h3 class="TolTeacherValue  line-space">(6). No. of Employees Transferred on Administrative ground:
                        </h3>
                    </div>
                </div>
            </div>
        </li>
    </ul> -->
</div>
</div>
<!--close dashboard-main-content-->