.sidebar-inner {padding: 20px;  }
    
.dashboard-header--heading {
  color: #7f8fa4 !important;
}
.nav-tabs {border-bottom: none;}
.nav-tabs li {min-width: 200px; margin-right: 4px;}
.nav-tabs li button {width: 100%;}
.nav-tabs li .nav-link{background-color: #dfdfdf; color: #000; font-weight: 500; border: #ccc;}

.dashboard-main-content-info{ border-top-left-radius:0 !important}

::ng-deep .mat-header-cell{background-color:#E5EEFF ; color: #353535; font-weight: 600 !important; font-size: 15px; font-family: 'PoppinsRegular';}
#msform .action-button {
  
    background: #1b4c43;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 8px;
    margin: 0px 0px 0px 9px;
    float: right;
}
.required-asterisk{
  color: red;
}
#msform .action-button:disabled {
 
    background: #1b4c43;
    font-weight: bold;
    color: grey;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 8px;
    margin: 1px 0px 0px 9px;
    float: right
}

.mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    /* flex: 0 0 8% !important; */
    width: 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .mat-column-sno {
    width: 6% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    flex: 0 0 6% !important;
    word-wrap: break-word;
    word-break: break-word;
}
.search-clear{
  padding-top: 36px !important;
}
.myClass{
    /* border: solid 0.2px #542555 !important; */
    background-color: #4A1C4B !important;
    color: white !important;
  }

  .ser-bdr {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  @media screen and (max-width: 1199px) {
/* 
    .mat-header-cell, .mat-cell{ overflow: visible; white-space: nowrap; font-size: 14px; padding: 0 10px !important; }
    .mat-cell {font-size: 14px;}

    .mat-column-action {
      word-wrap: break-word !important;
      white-space:initial!important;
      flex: 0 0 0 !important;
      width:200px !important;



    } */
  
  }

  .make-red {
    color: red;
    background-color: #ffefef;;
    font-family: 'PoppinsBold';
}
.make-green{
    color: green;
    background-color: #ecfde9;;
    font-family: 'PoppinsBold';
}
  @media screen and (max-width: 575px) {

 
    .mobile-buttons{margin-top: 10px;}
    .mobile-buttons button {margin-bottom: 10px;}
    .mat-form-field{margin-right:0 !important ;}
    .mat-column-action{width: auto !important; word-break: initial !important;}
  }

















  .add-user {
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    background: #632765;
    height: 35px !important;
    line-height: normal;
    border: none;
    padding: 0 15px 0 33px;
}

.add-user:disabled {
    color: #fff;
    top: 7px;
    padding: 0 15px 0 33px;
    border-radius: 4px;
    font-size: 14px;
    background: #996a9a;
    height: 34px;
    line-height: normal;
    border: none;
}

.add-teacher {
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    background: #632765;
    height: 35px !important;
    line-height: normal;
    border: none;
    padding: 0 35px;
}

.add-teacher:disabled {
    color: #fff;
    top: 7px;
    padding: 0 15px 0 33px;
    border-radius: 4px;
    font-size: 14px;
    background: #996a9a;
    height: 34px;
    line-height: normal;
    border: none;
}

.required-asterisk {
    color: red;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.2em;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    text-align: left;
    padding: 6px 3px ! important;
}

h2.px-2.mt-2.text-green {
    text-align: left;
}

tr:nth-child(even) {
    background: #fff;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.pro-name {
    color: #632765;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

.button-back i {
    position: absolute;
    left: 15px;
    top: 11px;
    color: white;
}

.back-button {
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    background: #645a64;
    height: 35px !important;
    line-height: normal;
    border: none;
    padding: 0 15px 0 33px;
}

.button-save {
    position: relative;
}

.button-save i {
    position: absolute;
    left: 15px;
    top: 11px;
    color: white;
}

.alpha-li li {
    margin-top: 15px;
}

.dcForm-min-height {
    min-height: 1080px;
}

.chk-box-font {
    background-color: #fafafa;
    border-radius: 4px;
}

.chk-box-font table td {
    background-color: #fafafa!important;
}

.chk-box-font label {
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    padding-top: 2px;
}

.chk-box-font input {
    width: 18px;
    height: 18px;
    /* background-color: #fff; */
}

.px-padding {
    padding-left: 0px !important;
}

tbody th {
    background-color: #f8fffe;
    padding: 3px 10px!important;
}

thead th {
    padding: 5px 10px!important;
}

tbody td {
    padding: 5px 10px!important;
}

.tbl-heading {
    font-size: 20px!important;
    font-weight: 600!important;
}

.make-orange{
    color: #e17212;
    text-transform:initial !important;
}
.make-green{
    color: #24695c;
    text-transform:initial !important;
}

@media screen and (max-width: 575px) {
.chk-box-font td{white-space: nowrap;}
.bd-highlight{display: block !important; margin-bottom: 10px;}
.bd-highlight h2 {text-align: left !important;}
}


.exp-pdf {
    height: 30px;
}