<div class="dashboard-main--wrapper">
    <div class="main-header">
        <div class="header-top">
          <div class="container-flued d-flex align-items-center justify-content-between">
              <ul class="list-unstyled d-flex align-items-center mb-0 left-list mob-header">
                  <li><img src="assets/assets/img/emblem.svg"></li>
                  <li style="color: aliceblue !important; "><a href="#">भारत सरकार
                          <span>Government of India</span></a></li>
                  <li><a href="#">
                          शिक्षा मंत्रालय<span>
                          Ministry of Education</span></a></li>
              </ul>
              
          </div>
      </div>
     <!--close top-header-->
      </div>
<div class="dashboard-main-content">
          
    <div class="container-flued d-flex align-items-center justify-content-between">
          <div>
         <a href="#" title="Online Employee Platform"><img src="assets/assets/img/kvs-logo.svg" class="img-fluid" alt="Online Employee Platform"></a>
        </div>
        
        <div class="dropdown" style="margin-right:80px;">
            <button class="btn btn-grad dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/login">Administrator Login</a></li>
              <li><a class="dropdown-item" href="{{employeeLoginUrl}}">Employee Login</a></li>
            </ul>
        </div>   
    </div>
    <div class="content-wrap">
        <div class="row">
          <div class="col-md-5">
              <div><img src="assets/assets/img/home-img.svg" alt=""></div>
              <div class="card shadow onboard p-4" style="border:none; position:relative;">
                  <h3 class="boxheading">Onboard</h3>
                  <table class="" style="margin-bottom:0;">
                      <tr>
                          <td><p class="box-lebel" style="color:#632765;">Total KVs</p></td>
                          <td  align="right"><div class="number-box">{{dashboarData.no_of_school}}</div></td>
                      </tr>
                      <tr>
                          <td><p class="box-lebel" style="color:#37338A;">Regions</p></td>
                          <td align="right"><div class="number-box regions">{{dashboarData.no_of_region}}</div></td>
                      </tr>
                      <tr>
                          <td><p class="box-lebel" style="color:#316CAF;">Stations</p></td>
                          <td align="right"><div class="number-box stations">{{dashboarData.no_of_station}}</div></td>
                      </tr>
                      <tr>
                          <td><p class="box-lebel" style="color:#F3634F;">ZIETs</p></td>
                          <td align="right"><div class="number-box ziets">{{dashboarData.no_of_zone}}</div></td>
                      </tr>
                  </table>
                  <div class="bgpatern"><img src="assets/assets/img/square-dotted.png" width="66" height="53" alt=""></div>
              </div>
              
          </div>
          <div class="col-md-7">
              <div class="abt">
                  <h2 class="abtheading"><span>About</span><br>
Employee Platform</h2>
                  <p class="abt-txt mt-4">It's a platform for Employee's Posted in KV/RO/ZIET/HQ. It is designed to take into account the entire employee's life cycle, from the time employee's inception in TEIs to their retirement as educators.</p>
              </div>
              <div class="card shadow ntcboard p-4" style="border:none; position:relative;">
                  <h3 class="boxheading">Notice Board</h3>
                  <ul>
                    <li tabindex="119">
                       <a href="#" title="" target="_blank">
                             <img src="assets/assets/img/file-earmark-text.svg" alt=""> 
                             <span class="date">Monday, February 16, 2024</span><br class="clear-both">
                             <span class="pres-cont">Opening of kvs employee transfer portal.</span>
                       </a>
                    </li>
                    <!-- <li tabindex="119">
                       <a href="#" title="" target="_blank" class="last">
                             <img src="assets/assets/img/file-earmark-text.svg" alt=""> 
                             <span class="date">Wednesday, November 8, 2023</span><br class="clear-both">
                             <span class="pres-cont">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a aliquet nulla, Fusce rhoncus ligula ut leo elementum.</span>
                       </a>
                    </li> -->
                  </ul>
                  <div class="bgpatern1"><img src="assets/assets/img/square-dotted.png" width="66" height="53" alt=""></div>
              </div>
          </div>
        </div>
    </div>
    
    <div>
        
     
    </div><!--close dashboard-main-content-->
  </div>

<div class="dashboard-footer d-flex justify-content-between align-items-center">
    <p class="mb-0">Designed, Developed, Maintained and Hosted by National Informatics Centre (NIC), Ministry of Electronics & Information Technology.<br>
        Content is provided by Kendriya Vidyalaya Sangathan D/o School Education & Literacy, Ministry of Education.</p>
      <img src="assets/assets/img/nic-logo.svg">
  </div>
  </div>