<div class="dashboard-main-content" style="min-height: 600px;">
    <div class="dashboard-main-content__header">
        <h1>Query Management System</h1>
    </div>
    <nav aria-label="breadcrumb" class="mt-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a>Query Management System</a></li>
        </ol>
    </nav>
    <div class="dashboard-main-content-info p-4 mt-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-4 form-group  mb-3">
                        <label class="titleSet"> Type</label>
                        <mat-select class="form-control" (selectionChange)="getAllModifyTransferAsTypeList($event.value)" [(ngModel)]="selectTransferType">
                            <mat-option value="">Select Type</mat-option>
                            <mat-option value="0">In Process</mat-option>
                            <mat-option value="1">Resolved</mat-option>
                            <!-- <mat-option value="2">Rejected</mat-option> -->
                        </mat-select>
                    </div>
                    <div class="col-md-4 ">

                    </div>
                    <div class="col-md-4 " *ngIf="dataSource">
                        <mat-form-field style="width: 100%;" appearance="outline" class="searchInput me-4">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search ">
                        </mat-form-field>
                    </div>
                </div>


                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="sno">
                            <th mat-header-cell *matHeaderCellDef> S.No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.sno}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ticketId">
                            <th mat-header-cell *matHeaderCellDef> Query ID </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ticketId}} </td>
                        </ng-container>

                        <ng-container matColumnDef="subject">
                            <th mat-header-cell *matHeaderCellDef> Subject </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ticketSubject}} </td>
                        </ng-container>

                        <ng-container matColumnDef="InitiateDate">
                            <th mat-header-cell *matHeaderCellDef> Query Date </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ticketdateTime}} </td>
                        </ng-container>

                        <ng-container matColumnDef="InitiateFrom" *ngIf="businessTypeId!='2'">
                            <th mat-header-cell *matHeaderCellDef> Requestor From </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ticketFrom}} ({{element.ticketFromId}}) </td>
                        </ng-container>

                        <ng-container matColumnDef="InitiateFrom" *ngIf="businessTypeId=='2'">
                            <th mat-header-cell *matHeaderCellDef> Associated School </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.instituteCode}} </td>
                        </ng-container>

                        <ng-container matColumnDef="InitiateFromEmployee" *ngIf="businessTypeId=='2'">
                            <th mat-header-cell *matHeaderCellDef> Requestor From </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ticketFrom}} ({{element.ticketFromId}}) </td>
                        </ng-container>

                        <ng-container matColumnDef="Status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ticketStatus}} </td>
                        </ng-container>


                        <ng-container matColumnDef="resolvedBy">
                            <th mat-header-cell *matHeaderCellDef> Resolved By </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.ticketResolvedBy}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="businessTypeId=='5'">
                                    <button type="button" *ngIf="element.ticketStatus=='In Process' && element?.assignToId!='0' && element?.assignToId!='1'" class="btn btn-success btn-sm mb-2 me-1" (click)="openResolvemodal(element.ticketId)">Resolve</button>
                                    <button type="button" *ngIf="element.ticketStatus=='In Process' && element?.assignToId!='0' && element?.assignToId!='1'" class="btn btn-success btn-sm mb-2 me-1" (click)="assignTomodal(element.ticketId)">Assign To</button>
                                    <button type="button"  class="btn btn-success btn-sm mb-2" (click)="openPreviewmodal(element.ticketId)">Preview</button>
                                   </span>
                                <span *ngIf="businessTypeId=='2'">
                                    <button type="button" *ngIf="element.ticketStatus=='In Process'" class="btn btn-success btn-sm mb-2 me-1" (click)="openResolvemodal(element.ticketId)">Resolve</button>
                                    <button type="button" *ngIf="element.ticketStatus=='In Process'" class="btn btn-success btn-sm mb-2 me-1" (click)="assignTomodal(element.ticketId)">Assign To</button>
                                    <button type="button"  class="btn btn-success btn-sm mb-2" (click)="openPreviewmodal(element.ticketId)">Preview</button>
                                   </span>
                                   <span *ngIf="businessTypeId=='3'">
                                   
                                    <button type="button"  class="btn btn-success btn-sm mb-2" (click)="openPreviewmodal(element.ticketId)">Preview</button>
                                   </span>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="8">No data Found</td>
                        </tr>
                    </table>
                </div>

                <mat-paginator [pageSizeOptions]="[10,20, 25]" showFirstLastButtons> </mat-paginator>
            </div>
        </div>
    </div>

    <div mat-dialog-content>
        <ng-template #PreviewBox let-modal style="min-width: 100%;">
            <div class="p-4">
                <div class="modal-header p-0">
                    <h2 class="fw-bold mb-0">Preview </h2>
                </div>
               <div class="mt-3" style="min-width: 100%; max-height: 1000px; ">
                <div class="container-fluid">
                    <div class="row">
                            <table class="table table-bordered w-100">
                                <thead>
                                    <tr style="background-color:#7492cb;">
                                        <th colspan="8" class="text-center text-white">Query Management System ( {{ticketDetails?.ticketId}} )</th>
                                    </tr>
                                    <tr style="background-color:#E5EEFF;">
                                        <th style="width: 30% !important;"> Subject</th>
                                       
                                        <th>Query Status</th>
                                        <th>Query Genration Date</th>
                                        <th>Query Resolve Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ticketDetails?.ticketSubject}}</td>
                                       
                                        <td>{{ticketStatusForPreview}}</td>
                                        <td>{{ticketDetails?.ticketdateTime}}</td>
                                        <td>{{ticketDetails?.ticketResolveDateTime}}</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>

            <div style="min-width: 100%; max-height: 1000px; ">
                <div class="container-fluid">
                    <div class="row">
                            <div class="alert alert-secondary" style="background-color: #f2f5fb !important;">
                                <div class="dashboard-main-content__header">
                                    <h2 class="fw-bold">Query Description</h2>
                                </div>
                                {{ticketDetails?.ticketDescription}}
                            </div>
                    </div>
                </div>
            </div>
     
            <div class="" style="min-width: 100%; max-height: 1000px;">
                <div class="container-fluid">
                    <div class="row">
                            <table class="table table-bordered w-100">
                                <thead>
                                    <tr style="background-color:#7492cb;">
                                        <th colspan="7" class="text-center text-white">Document details</th>
                                    </tr>
                                    <tr style="background-color:#E5EEFF;">

                                        <th>S.No</th>
                                        <th>Document</th>

                                        <th>Download</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="background-color:white;" *ngFor="let data of docList; let i=index;">
                                        <td>{{i+1}}</td>
                                        <td>{{data}}</td>

                                        <td><button (click)="downloadDocument(data,ticketDetails['folderId'])"> <img src="assets/images/download.png"></button></td>
                                        <!-- <td><a href="http://10.25.26.251:8015/api/ticket/downloadDocument?folderId={{ticketDetails?.folderId}}&fileName={{data}}" target="_blank"> <img src="/assets/images/download.png"></a>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="container-fluid">
                    <div class="row">
                            <table class="table table-bordered w-100 ">
                                <thead>
                                    <tr style="background-color:#7492cb;">
                                        <th colspan="8" class="text-center text-white">Query Resolution Notes</th>
                                    </tr>
                                    <tr style="background-color:#E5EEFF;">
                                        <th> S.No.</th>
                                        <th>Activity</th>
                                        <th>Activity Done By</th>
                                        <th>Assign To</th>
                                        <th>Remarks</th>
                                        <th>Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of ticketHistory;  let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{data?.activity}}</td>
                                        <td>{{data?.activityDoneBy}}</td>
                                        <td>{{data?.assignTo}}</td>
                                        <td>{{data?.remarks}}</td>
                                        <td>{{data?.createdDateTime | date : 'dd-MM-yyyy hh:mm:ss'}}</td>

                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-danger btn-sm" style="margin-left: 3px;" (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
            </div>
        </ng-template>
    </div>

    <div mat-dialog-content>
        <ng-template #AssignToBox let-modal style="min-width: 100%;">
            <div class="p-4">
                <div class="modal-header p-0">
                    <h2 class="fw-bold mb-0">Assign To </h2>
                </div>
               <div class="mt-3" style="min-width: 100%; max-height: 1000px; ">
                <div class="container-fluid">
                    <div class="row">
                            <table class="table table-bordered w-100">
                                <thead>
                                    <tr style="background-color:#7492cb;">
                                        <th colspan="8" class="text-center text-white">Query Management System ( {{ticketDetails?.ticketId}} )</th>
                                    </tr>
                                    <tr style="background-color:#E5EEFF;">
                                        <th style="width: 30% !important;"> Subject</th>
                                        <th>Query Status</th>
                                        <th>Query Genration Date</th>
                                        <th>Query Resolve Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ticketDetails?.ticketSubject}}</td>
                                        <td>{{ticketStatusForAssignTo}}</td>
                                        <td>{{ticketDetails?.ticketdateTime}}</td>
                                        <td>{{ticketDetails?.ticketResolveDateTime}}</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>

            <div style="min-width: 100%; max-height: 1000px; ">
                <div class="container-fluid">
                    <div class="row">
                            <div class="alert alert-secondary" style="background-color: #f2f5fb !important;">
                                <div class="dashboard-main-content__header">
                                    <h2 class="fw-bold">Query Description</h2>
                                </div>
                                {{ticketDetails?.ticketDescription}}
                            </div>
                    </div>
                </div>
            </div>
            <div  style="min-width: 100%; max-height: 1000px;">
                <div class="card p-2 mb-3 ">
                <div class="container-fluid">
                    <form id="msform" class="msform" [formGroup]="assignToForm" (ngSubmit)="assignToFormSubmit()">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="titleSet"> Assign To <span class="required-asterisk">*</span> :</h4>
                                            <select *ngIf="businessTypeId!='2' && kvCode!='9999'" class="form-select" formControlName="assignTo" aria-label="Default select example">
                                                <option disabled selected>Select</option>
                                                <option value="0">NIC</option>
                                              </select>
                                            <select *ngIf="businessTypeId=='2' && kvCode!='9999' " class="form-select" formControlName="assignTo" aria-label="Default select example">
                                                <option disabled selected>Select</option>
                                                <!-- <option value="{{ticketDetails?.instituteCode}}">School</option> -->
                                                <option value="0">NIC</option>
                                              </select>
                                            <select *ngIf="businessTypeId!='2' && kvCode=='9999' " class="form-select" formControlName="assignTo" aria-label="Default select example">
                                                <option disabled selected>Select</option>
                                                <option value="1">HeadQuarter</option>
                                                
                                              </select>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <h4 class="titleSet"> Remark <span class="required-asterisk">*</span> :</h4>
                                            <textarea class="form-control" style="height: 12px;" formControlName="assignToRemarks" placeholder="Leave a remark here" id="floatingTextarea"></textarea>
                                        </div>
                                    </div>
                                    <div  class="text-center pt-3">
                                        <input [disabled]="!assignToForm.get('assignToRemarks').valid || !assignToForm.get('assignTo').valid" type="submit" id="submit1" value="Submit" class="action-button" />
                                    </div>
                    </form>
                </div>
                </div>
            </div>
            <div class="">
                <div class="container-fluid">
                    <div class="row">
                            <table class="table table-bordered w-100 ">
                                <thead>
                                    <tr style="background-color:#7492cb;">
                                        <th colspan="8" class="text-center text-white">Query Resolution Notes</th>
                                    </tr>
                                    <tr style="background-color:#E5EEFF;">
                                        <th> S.No.</th>
                                        <th>Activity</th>
                                        <th>Activity Done By</th>
                                        <th>Assign To</th>
                                        <th>Remarks</th>
                                        <th>Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of ticketHistory;  let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{data?.activity}}</td>
                                        <td>{{data?.activityDoneBy}}</td>
                                        <td>{{data?.assignTo}}</td>
                                        <td>{{data?.remarks}}</td>
                                        <td>{{data?.createdDateTime | date : 'dd-MM-yyyy hh:mm:ss'}}</td>

                                </tbody>
                            </table>
                        </div>
                </div>
            </div>

            <div class="text-end">
                <button type="button" class="btn btn-danger btn-sm" style="margin-left: 3px;" (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
            </div>
        </ng-template>
    </div>

    <div mat-dialog-content>
       
        <ng-template #ResolveBox let-modal style="min-width: 100%;">
            <div class="p-4">
            <div class="modal-header p-0">
                <h2 class="fw-bold mb-0">Resolves </h2>
            </div>
               <div class="mt-3" style="min-width: 100%; max-height: 1000px; ">
                <div class="container-fluid">
                    <div class="row">
                            <table class="table table-bordered w-100">
                                <thead>
                                    <tr style="background-color:#7492cb;">
                                        <th colspan="8" class="text-center text-white">Query Management System ( {{ticketDetails?.ticketId}} )</th>
                                    </tr>
                                    <tr style="background-color:#E5EEFF;">
                                        <th style="width: 30% !important;"> Subject</th>
                                        <th>Query Status</th>
                                        <th>Query Genration Date</th>
                                        <th>Query Resolve Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ticketDetails?.ticketSubject}}</td>
                                        <td>{{ticketStatusForResolve}}</td>
                                        <td>{{ticketDetails?.ticketdateTime}}</td>
                                        <td>{{ticketDetails?.ticketResolveDateTime}}</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>

            <div style="min-width: 100%; max-height: 1000px; ">
                <div class="container-fluid">
                    <div class="row">
                            <div class="alert alert-secondary" style="background-color: #f2f5fb !important;">
                                <div class="dashboard-main-content__header">
                                    <h2 class="fw-bold">Query Description</h2>
                                </div>
                                {{ticketDetails?.ticketDescription}}
                            </div>
                    </div>
                </div>
            </div>
            
            <div style="min-width: 100%; max-height: 1000px;">
                <div class="card p-2 mb-3 ">
                <div class="container-fluid">
                    <form id="msform" class="msform" [formGroup]="resolveForm" (ngSubmit)="resolveFormSubmit()">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="titleSet"> Remark <span class="required-asterisk">*</span> :</h4>
                                            <textarea class="form-control" style="height: 12px;" formControlName="resolveRemarks" placeholder="Leave a remark here" id="floatingTextarea"></textarea>
                                        </div>

                                        <div class="col-md-6">
                                            <h4 class="titleSet"> Status <span class="required-asterisk">*</span> :</h4>
                                            <select class="form-select" formControlName="ticketType" aria-label="Default select example">
                                                <option value="1">Resolved</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="text-center pt-3">
                                        <input [disabled]="!resolveForm.get('resolveRemarks').valid || !resolveForm.get('ticketType').valid " type="submit" id="submit1" value="Submit" class="action-button" />
                                    </div>
                    </form>
                </div>
            </div>
        </div>

            <div class="">
                <div class="container-fluid">
                    <div class="row">
                            <table class="table table-bordered w-100 ">
                                <thead>
                                    <tr style="background-color:#7492cb;">
                                        <th colspan="8" class="text-center text-white">Query Resolution Notes</th>
                                    </tr>
                                    <tr style="background-color:#E5EEFF;">
                                        <th> S. No.</th>
                                        <th>Activity</th>
                                        <th>Activity Done By</th>
                                        <th>Assign To</th>
                                        <th>Remarks</th>
                                        <th>Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of ticketHistory;  let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{data?.activity}}</td>
                                        <td>{{data?.activityDoneBy}}</td>
                                        <td>{{data?.assignTo}}</td>
                                        <td>{{data?.remarks}}</td>
                                        <td>{{data?.createdDateTime | date : 'dd-MM-yyyy hh:mm:ss'}}</td>

                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-danger btn-sm" (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
        </div>
        </ng-template>
 
    </div>
</div>