table {
    width: 100%;
  }
  th.mat-header-cell:first-of-type{
    padding-left: 8px;
    text-align: center;
  }
  th.mat-header-cell{
    padding-left: 54px;
  }
  td.mat-cell{
    padding-left: 54px;
  }
  .mat_label{
      font-weight: 500;
  }
  .delete-icon{
    font-size: 22px;
    color: red;
  }
  .required-asterisk{
    color: red;
  }
  .eye-icon{
    font-size: 22px;
    color: rgb(102, 164, 230)(0, 0, 255);
  }
  #msform .action-button {
  
    background: #1b4c43;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 8px;
    margin: 0px 0px 0px 9px;
  
}

#msform .action-button:disabled {
 
    background: #1b4c43;
    font-weight: bold;
    color: grey;
    border: 0 none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 8px;
    margin: 1px 0px 0px 9px;
  
}

.table th , .table td {padding: 10px !important;}

.remark-card {padding: 20px 15px;  border: solid 1px #ccc; position: relative;  border-radius: 4px;}
.remark-card h2 {     position: absolute;
  left: 15px;
  top: -21px;
  padding: 5px 12px;
  background: #fff;
  margin: 0;
  font-size: 18px;
  font-weight: 600;}

  .remark-card .label-left {position: absolute; left: 25px;  top: 10px; color: #000; font-weight: 600;}
  .remark-card .label-right {position: absolute; right: 25px;  top: 10px; color: #000; font-weight: 600;}
 
  .remark-card .label-desc {position: absolute; left: 25px;  top: 30px; color: #000; font-weight: 600;}
  .remark-card textarea  {padding: 54px 15px 15px; font-size: 14px;}