<div class="dashboard-main-content" style="min-height: 600px;">
    <div class="dashboard-main-content__header">
        <h1 class="mb-1">Dashboard</h1>
    </div>
    <nav aria-label="breadcrumb" class="mt-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item"><a>dashboard</a></li>
        </ol>
    </nav>


    <div class="row mt-3" *ngIf="businessUnitTypeId!='3'">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="SchoolStatus w-100 text-center">
                <li>
                    <div>
                        <img src="assets/assets/img/total-staff.png" class="mb-2" />
                        <h4 class="font26589 mb-1">Total Regions : </h4>
                        <h2 class="font64989985 mb-0">{{dashboardDetails?.totalRegion}}</h2>
                    </div>
                </li>
                <li >
                    <div>
                        <img src="assets/assets/img/verified-staff.png" class="mb-2" />
                        <h4 class="font26589 mb-1">Total Ziets </h4>
                        <h2 class="font64989985 mb-0">{{dashboardDetails?.totalZiet}}</h2>
                    </div>
                </li>
                <li >
                    <div>
                        <img src="assets/assets/img/pending-school.png" class="mb-2" />
                        <h4 class="font26589 mb-1">Sanction Posts : </h4>
                        <h2 class="font64989985 mb-0">{{dashboardDetails?.totalSanctionPost}}</h2>
                    </div>
                </li>
                <li >
                    <div>
                        <img src="assets/assets/img/pending-staff.png" class="mb-2" />
                        <h4 class="font26589 mb-1">In Position :</h4>
                        <h2 class="font64989985 mb-0">{{inPositionTotal}}</h2>
                    </div>
                </li>
                <li >
                    <div>
                        <img src="assets/assets/img/initiated-school.png" class="mb-2" />
                        <h4 class="font26589 mb-1">Schools : </h4>
                        <h2 class="font64989985 mb-0">{{dashboardDetails?.totalSchool}}</h2>
                    </div>
                </li>
                <!-- <li>
                    <div>
                        <img src="assets/assets/img/not-initiated.png" class="mb-2" />
                        <h4 class="font26589 mb-1">Not Initiated</h4>
                        <h2 class="font64989985 mb-0">{{notInitiatedCount}}</h2>
                    </div>
                </li> -->
            </ul>
        </div>
    
    </div>   



    <div class="shadow-sm bg-white border-3" style="margin-bottom: 9px; border-radius: 7px;" *ngIf="businessUnitTypeId=='3'">
        <ul class="stationUL">
            <li>
                <h3>Region Name :
                    <span class="StationValue">{{dashboardDetails?.regionName}} ({{dashboardDetails?.regionCode}}) </span>
                </h3>
            </li>
            <li>
                <h3>Address :
                    <span class="StationValue">{{dashboardDetails?.regionAddress}}</span>
                </h3>
            </li>
            <li>
                <h3>Controlling Officer :
                    <span class="StationValue">{{dashboardDetails?.employeeName}}</span>
                </h3>
            </li>
            <li>
                <h3>Email :
                    <span class="StationValue">{{dashboardDetails?.teacherEmail}}</span>
                </h3>
            </li>
            <li>
                <h3>Mobile :
                    <span class="StationValue">{{dashboardDetails?.teacherMobile}}</span>
                </h3>
            </li>
        </ul>
    </div>
    <!-- <div class="shadow-sm bg-white border-3" style="margin-bottom: 9px; border-radius: 7px;" *ngIf="businessUnitTypeId=='2'">
        <ul class="stationUL">
            <li>
                <h3>Total Regions :
                    <span class="StationValue">{{dashboardDetails?.totalRegion}}</span>
                </h3>
            </li>
            <li>
                <h3>Total Ziets :
                    <span class="StationValue">{{dashboardDetails?.totalZiet}}</span>
                </h3>
            </li>
        </ul>
    </div> -->
    <div class="dashboard-main-content-info p-4">
        <!-- <ul class="display-inline-one ">
            <li class="card p-4  rounded-3 mb-3">
                <div class="row ">
                    <div class="col-7">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <h3 class="mb-0 blue-text TotalTeachingStaff">Sanction Posts :  {{dashboardDetails?.totalSanctionPost}}
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-5">
                        <div class="d-flex align-items-right">
                            <div class="flex-grow-1">
                                <h3 class="mb-0 blue-text TotalTeachingStaff">In Position :  {{inPositionTotal}}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="card p-4  rounded-3 mb-3">
                <div>
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">

                            <h3 class="mb-0 blue-text TotalTeachingStaff">Schools :  {{dashboardDetails?.totalSchool}}
                            </h3>
                        </div>
                    </div>
                </div>
            </li>
        </ul> -->



        <div class="row mt-3">
            <div class=" dashboard-main-content__header mb-2"><h1 class="TolTeacherValue  ">Staff</h1></div>
                
            <div class="col-md-9">
              
                <ul class="">
                    <li class="card p-3 rounded-3 mb-3">
                
                            <div class="row ">
                                <div class="col-sm-6 ">
                                    <div class="table-responsive">
                                    <table class="table1 table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="3" style="background:#945197; color: #fff;   ">Teaching</th>
                                                
                                            </tr>
                                            <tr rowspan="2">
                                                <th>Male</th>
                                                <th>Female</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                      
                                        <tr>
                                            <td><span>{{dashboardDetails?.teachingMale === null ?'0':dashboardDetails?.teachingMale}}</span></td>
                                            <td><span>{{dashboardDetails?.teachingFemale === null ?'0':dashboardDetails?.teachingFemale}}</span></td>
                                            <td><span>{{teachingMaleFemaleTotal}}</span></td>
                                        </tr>
                                        
                                    </table>
                                    </div>
        
                                </div>
        
                                <div class="col-sm-6">
                                    <div class="table-responsive">
                                    <table class="table1 table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="3" style="background:#97516a; color: #fff;   " >Non-Teaching</th>
                                                
                                            </tr>
                                            <tr rowspan="2">
                                                <th class="td-bg">Male</th>
                                                <th class="td-bg">Female</th>
                                                <th class="td-bg">Total</th>
                                            </tr>
                                        </thead>
                                      
                                        <tr>
                                            <td><span class="text-color">{{dashboardDetails?.nonTeachingMale === null ?'0':dashboardDetails?.nonTeachingMale}}</span></td>
                                            <td><span class="text-color">{{dashboardDetails?.teachingFemale === null ?'0':dashboardDetails?.teachingFemale}}</span></td>
                                            <td><span class="text-color">{{nonTeachingMaleFemaleTotal}}</span></td>
                                        </tr>
                                        
                                    </table>
                                    </div>
                                </div>
                   
                              
                            </div>
                    
                       
                    </li>
            
                </ul>
            </div>
        <div class="col-md-3">
         
          <div class="card p-3">
            <div class="table-responsive">
            <table class="table1 table-bordered">
              <thead> 
                <tr>
                    <th colspan="3" style="background:#f7f3d9; color: #000;   ">Ticket Notification</th>
                    
                </tr>
                <tr rowspan="2">
             
                    <th style="background: #f9e5bf;">In Process</th>
                    <th style="background:#afebbd;">Resolved</th>
                    <th style="background:#f9bfbf;">Rejected</th>
                </tr>
            </thead> 
                <tr>
                    <td><span  style="background: #f9e5bf; color:#b9831d">{{dashboardDetails?.inprogresTicket}}</span></td>
                    <td><span  style="background: #afebbd; color:#2f9948">{{dashboardDetails?.resolveTicket}}</span></td>
                    <td><span  style="background: #f9bfbf; color:#b94848">{{dashboardDetails?.rejectTicket}}</span></td>
                </tr>
            </table>
        </div>
          </div>
        </div>
        
        
        
        </div>

        <ul class="display-inline mt-3">


          <!--   <li class="card p-4 rounded-3 mb-3">
                <h2 class="TolTeacherValue mb-2 card-text-color text-center "> Staff</h2>
                <div class="row mt-2">
                    <div class="row ">
                        <div class="col-md-6 col-sm-12 ">
                            <div class="row ">
                                <h2 class="TolTeacherValue mb-2 card-text-color text-center border-end border-top border-bottom ">Teaching</h2>
                                <div class="col-4 text-center border-end">
                                    <h4 class="Verified mb-0 card-text-color">Male </h4>
                                    <h2 class="mt-4">{{dashboardDetails?.teachingMale === null ?'0':dashboardDetails?.teachingMale}}</h2>
                                </div>
                                <div class="col-4 text-center border-end">
                                    <h4 class="Verified mb-0 card-text-color">Female </h4>
                                    <h2 class="mt-4">{{dashboardDetails?.teachingFemale === null ?'0':dashboardDetails?.teachingFemale}}</h2>
                                </div>
                                <div class="col-4 text-center border-end">
                                    <h4 class="Verified mb-0 card-text-color">Total</h4>
                                    <h2 class="mt-4">{{teachingMaleFemaleTotal}}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="row ">
                                <h2 class="TolTeacherValue mb-2 card-text-color text-center  border-top border-bottom  ">Non-Teaching</h2>
                                <div class="col-4 text-center border-end">
                                    <h4 class="Verified mb-0 card-text-color">Male </h4>
                                    <h2 class="mt-4">{{dashboardDetails?.nonTeachingMale === null ?'0':dashboardDetails?.nonTeachingMale}}</h2>
                                </div>
                                <div class="col-4 text-center border-end">
                                    <h4 class="Verified mb-0 card-text-color">Female </h4>
                                    <h2 class="mt-4">{{dashboardDetails?.nonTeachingFeMale === null ?'0':dashboardDetails?.nonTeachingFeMale}}</h2>
                                </div>
                                <div class="col-4 text-center ">
                                    <h4 class="Verified mb-0 card-text-color">Total </h4>
                                    <h2 class="mt-4">{{nonTeachingMaleFemaleTotal}}</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="pattern">
                    <i class='bx bx-user-circle imgRotate'></i>
                </div>
            </li> -->
     
            <!-- <li class="card p-4 rounded-3 ">
                <h2 class="TolTeacherValue mb-2  card-text-color text-center">Station </h2>
                <div class="row " >
                    <div class="col-md-2 col-4 text-center border-end">
                        <h4 class="Verified mb-0 card-text-color">Normal </h4>
                        <h2 class="mt-4">{{dashboardDetails?.totalNormalStation === null ?'0':dashboardDetails?.totalNormalStation}}</h2>
                    </div>
                    <div class="col-md-2 col-4 text-center border-end">
                        <h4 class="Verified mb-0 card-text-color">Priority </h4>
                        <h2 class="mt-4"> {{dashboardDetails?.totalPriorityStation === null ?'0':dashboardDetails?.totalPriorityStation}}</h2>
                    </div>
                    <div class="col-md-2 col-4 text-center border-end">
                        <h4 class="Verified mb-0 card-text-color">Hard </h4>
                        <h2 class="mt-4">{{dashboardDetails?.totalHardStation === null ?'0':dashboardDetails?.totalHardStation}}</h2>
                    </div>
                    <div class="col-md-2 col-4 text-center border-end">
                        <h4 class="Verified mb-0 card-text-color" style="width: 73px;">Very Hard </h4>
                        <h2 class="mt-4">{{dashboardDetails?.totalVeryHardStation === null ?'0':dashboardDetails?.totalVeryHardStation}}</h2>
                    </div>
                    <div class="col-md-2 col-4 text-center border-end ">
                        <h4 class="Verified mb-0 card-text-color">NER</h4>
                        <h2 class="mt-4">{{dashboardDetails?.totalNerStation === null ?'0':dashboardDetails?.totalNerStation}}</h2>
                    </div>
                    <div class="col-md-2 col-4 text-center ">
                        <h4 class="Verified mb-0 card-text-color">Total</h4>
                        <h2 class="mt-4">{{stationTotal}}</h2>
                    </div>

                </div>
                <div class="pattern">
                    <i class='bx bx-user-circle imgRotate'></i>
                </div>
            </li> -->
        </ul> 

        <div class="row mt-3">
            <div class=" dashboard-main-content__header mb-2"><h1 class="TolTeacherValue  ">Station</h1></div>
                
            <div class="col-md-9">
              
                <ul class="">
                    <li class="card p-3 rounded-3 mb-3">
                
                            <div class="row ">
                                <div class="col-sm-12 ">
                                    <div class="table-responsive">
                                    <table class="table1 table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="6" style="background:#945197; color: #fff;   ">Teaching</th>
                                                
                                            </tr>
                                            <tr rowspan="2">
                                                <th>Normal</th>
                                                <th>Priority</th>
                                                <th>Hard</th>
												<th>Very Hard</th>
                                                <th>NER</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                      
                                        <tr>
                                            <td><span>{{dashboardDetails?.totalNormalStation === null ?'0':dashboardDetails?.totalNormalStation}}</span></td>
                                            <td><span>{{dashboardDetails?.totalPriorityStation === null ?'0':dashboardDetails?.totalPriorityStation}}</span></td>
                                            <td><span>{{dashboardDetails?.totalHardStation === null ?'0':dashboardDetails?.totalHardStation}}</span></td>
											<td><span>{{dashboardDetails?.totalVeryHardStation === null ?'0':dashboardDetails?.totalVeryHardStation}}</span></td>
                                            <td><span>{{dashboardDetails?.totalNerStation === null ?'0':dashboardDetails?.totalNerStation}}</span></td>
											<td><span>{{stationTotal}}</span></td>
                                        </tr>
                                        
                                    </table>
                                    </div>
        
                                </div>
        
                           
                   
                              
                            </div>
                    
                       
                    </li>
            
                </ul>
            </div>
        <div class="col-md-3">
         
          <div class="card p-3">
            <div class="table-responsive">
            <table class="table1 table-bordered">
              <thead> 
                <tr>
                    <th colspan="6">Note</th>
                    
                </tr>
                </thead>
                <tr>
                    Normal - 
                </tr>
                <tr>
                    Priority -
                </tr>
                <tr>
                    Hard -
                </tr>
               <tr>
                    Very Hard -
                </tr>
                <tr>
                 NER -
                </tr>
                
            </table>
        </div>
          </div>
        </div>
        
        
        
        </div>
        <!-- <ul class="display-inline mt-3 card p-4 rounded-3" style="width: 100%;">
            <li> <h3 style="color: red;">Note :-</h3>
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <h3 style="line-height: 20px;" >Normal :   <span style="color: #8e8e8e;">dsdddsdsdsssssssssssss</span></h3>
                        <h3 style="line-height: 20px;">Priority : <span style="color: #8e8e8e;">dsdddsdsdsssssssssssss</span></h3>
                        <h3 style="line-height: 20px;" > Hard :  <span style="color: #8e8e8e;">dsdddsdsdsssssssssssss</span></h3>
                        <h3 style="line-height: 20px;" >Very Hard :  <span style="color: #8e8e8e;">dsdddsdsdsssssssssssss</span></h3>
                        <h3 style="line-height: 20px;"> NER :  <span style="color: #8e8e8e;"> dsdddsdsdsssssssssssdfsdss</span></h3>
                    </div>
                </div> 
            </li>
        </ul> -->

       <ul class="display-inline mt-3">
        <!-- <li class="card p-4 rounded-3 ">
            <h2 class="TolTeacherValue mb-2  card-text-color text-center">Station Type</h2>
            <div class="row ">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Station Type</th>
                            <th>Teaching</th>
                            <th>Non Teaching</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <th>Normal</th>
                            <td>priority</td>
                            <td>Peter</td>
                            <td>John</td>
                        </tr>
                        <tr>
                            <th>priority</th>
                            <td>Hard Station</td>
                            <td>Parker</td>
                            <td>Rambo</td>
                        </tr>
                        <tr>
                            <th>Hard Station</th>
                            <td>Very Hard</td>
                            <td>peterparker@mail.com</td>
                            <td>johnrambo@mail.com</td>
                        </tr>
                        <tr>
                            <th>Very Hard </th>
                            <td>Very Hard</td>
                            <td>peterparker@mail.com</td>
                            <td>johnrambo@mail.com</td>
                        </tr>
                       
                    </tbody>
                </table>

            </div>
            <div class="pattern">
                <i class='bx bx-user-circle imgRotate'></i>
            </div>
        </li> -->
        <!-- <li class="card p-4  rounded-3">
            <div>
                <div class=" d-flex align-items-center justify-content-center">
                    <div class="flex-grow-1">
                        <h3 class="mb-0 blue-text TotalTeachingStaff">Transfer Details: </h3>
                        <h3 class="TolTeacherValue  line-space mt-4">(1). No of Employees Eligible for Transfer :</h3>
                        <h3 class="TolTeacherValue  line-space ">(2). No. of Employees participation in the Transfer Cycle:</h3>
                        <h3 class="TolTeacherValue  line-space ">(3). No. of Employees submitted Transfer Application:</h3>
                        <h3 class="TolTeacherValue  line-space">(4). No. of Employees Transferred :</h3>
                        <h3 class="TolTeacherValue  line-space ">(5). No. of Employees Transfer order Halted:</h3>
                        <h3 class="TolTeacherValue  line-space">(6). No. of Employees Transferred on Administrative ground:
                        </h3>
                    </div>
                </div>
            </div>
        </li> -->
    </ul> 
    </div>
</div>
<!--close dashboard-main-content-->